@model MVCSchooldbDemo.Models.Data.GJXRCSHHDLBInfo
@{
    Layout = null;
}
<div class="dialogTitle">@ViewBag.DialogTitle</div>
<form id="formGJXRCSHHDLB" method="post" class="easyui-form" data-options="novalidate:true">
    <div id="editorTabs" class="easyui-tabs" style="padding: 5px;">
        <div title="工具性日常生活活动量表">
            <table class="editorTable">
                <tr>
                    <th colspan="2">工具性日常生活活动量表<br/>(Instrumental Activities of Daily Living Scale)</th>
                </tr>
                <tr>
                    <th colspan="2">工具性日常生活活动能力（IADL）（以最近一个月的表现为准）</th>
                </tr>
                <tr>
                    <th class="editorNameColumnStandard">1. 上街购物</th>
                    <th>
                        <span id="工具性日常生活活动量表_上街购物"></span></th>
                </tr>
                <tr>
                    <th class="editorNameColumnStandard">2. 外出活动</th>
                    <th>
                        <span id="工具性日常生活活动量表_外出活动"></span></th>
                </tr><tr>
                    <th class="editorNameColumnStandard">3. 食物烹调</th>
                    <th>
                        <span id="工具性日常生活活动量表_食物烹调"></span></th>
                </tr><tr>
                    <th class="editorNameColumnStandard">4. 家务维持</th>
                    <th>
                        <span id="工具性日常生活活动量表_家务维持"></span></th>
                </tr><tr>
                    <th class="editorNameColumnStandard">5. 洗衣服</th>
                    <th>
                        <span id="工具性日常生活活动量表_洗衣服"></span></th>
                </tr><tr>
                    <th class="editorNameColumnStandard">6. 使用电话的能力</th>
                    <th>
                        <span id="工具性日常生活活动量表_使用电话的能力"></span></th>
                </tr><tr>
                    <th class="editorNameColumnStandard">7. 服用药物</th>
                    <th>
                        <span id="工具性日常生活活动量表_服用药物"></span></th>
                </tr><tr>
                    <th class="editorNameColumnStandard">8. 处理财务的能力</th>
                    <th>
                        <span id="工具性日常生活活动量表_处理财务的能力"></span></th>
                </tr>
                <tr>
                    <td colspan="2">
                        （注：上街购物、外出活动、食物烹调、家务维持、洗衣服等五项中有三项以上需要协 助者即为轻度失能）
                    </td>
                </tr>
            </table>
        </div>
    </div>
</form>
<script>
    $(function() {
        $('#GJXRCSHHDLB_btnCancel')
            .bind('click',
                function() {
                    CloseEditor('#editorGJXRCSHHDLB');
                }
            );
    });

    function GetData() {
        return {
            字段1: $('#字段1').textbox('getText'),
            字段2: $('#字段2').combobox('getText'),
            字段3: $('#字段3').textbox('getText'),
        };
    }
</script>

@if (Model != null)
{
    <script>
        window.previousId = -1;
        window.nextId = -1;
        $(function() { ShowData(`@Url.Action("GetItemData", "GJXRCSHHDLB")/${@ViewBag.CurrentId}`); });


        function ShowData(url) {
            $.ajax({
                type: "POST",
                url: url,
                success: function(data) {
                    const item = data.Item;

                    $('#字段1').textbox('setText', item.字段1);
                    $('#字段2').textbox('setText', item.字段2);
                    $('#字段3').combobox('setText', item.字段3);

                    window.previousId = data.PreviousId;
                    window.nextId = data.NextId;
                },
                error: function() {
                    Alert("错误", 'error', AlertType.Error);
                },
                dataType: "json"
            });
        };
    </script>
}