@model MVCSchooldbDemo.Models.Data.GJXRCSHHDLBInfo
@{
    Layout = null;
}
<div class="editorLayout">
    @Html.Partial("~/Views/GJXRCSHHDLB/_Editor.cshtml")
    @Html.Partial("~/Views/Shared/LayoutEditor/_ButtonsForDetails.cshtml")
</div>

<script>
    $(function() {
//need disable & enable next and previous buttons

        $('#GJXRCSHHDLB_btnPrevious')
            .bind('click',
                function() {
                    if (window.previousId !== -1) {
                        window.ShowData(`@Url.Action("GetSingleItem", "GJXRCSHHDLB")/${window.previousId}`);
                    }
                });

        $('#GJXRCSHHDLB_btnNext')
            .bind('click',
                function() {
                    if (window.nextId !== -1) {
                        window.ShowData(`@Url.Action("GetSingleItem", "GJXRCSHHDLB")/${window.nextId}`);
                    }
                });
    });
</script>