<div class="editorButton">
    <a id="@{ @ViewBag.Name }_btnOK" class="easyui-linkbutton" iconCls="fa fa-check fa-16px" style="width: 90px">
        确定
    </a>
    <a id="@{ @ViewBag.Name }_btnCancel" class="easyui-linkbutton" iconCls="fa fa-close fa-16px" style="width: 90px">
        取消
    </a>
</div>