<div class="dialogButton">
    <a id="btnPrevious" class="easyui-linkbutton" iconCls="icon-cancel" style="width: 90px" >
        上一条
    </a>
    <a id="btnNext" class="easyui-linkbutton" iconCls="icon-cancel" style="width: 90px">下一条</a>
    <a id="btnCancel" class="easyui-linkbutton" iconCls="icon-cancel" style="width: 90px">关闭</a>
</div>