<div class="dialogButton">
    <a id="btnOK" class="easyui-linkbutton" iconCls="zmdi zmdi-check zmdi-16px" style="width: 90px">
        修改
    </a>
    <a id="btnCancel"  class="easyui-linkbutton" iconCls="zmdi zmdi-close zmdi-16px" style="width: 90px">取消</a>
</div>