<div class="dialogButton">
    <a id="btnOK" href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-ok" style="width: 90px">
        修改
    </a>
    <a id="btnCancel" href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="CloseEditor();" style="width: 90px">取消</a>
</div>