<div class="dialogButton">
    <a id="btnOK" class="easyui-linkbutton" iconCls="icon-ok" style="width: 90px">
        修改
    </a>
    <a id="btnCancel"  class="easyui-linkbutton" iconCls="icon-cancel" style="width: 90px">取消</a>
</div>