<div class="dialogButton">
    <a id="btnOK" class="easyui-linkbutton" iconCls="fa fa-check fa-16px" style="width: 90px">
        确定
    </a>
    <a id="btnCancel" class="easyui-linkbutton" iconCls="fa fa-close fa-16px" style="width: 90px">
        取消
    </a>
</div>