<div class="dialogButton">
    <a id="btnPrevious" class="easyui-linkbutton" iconCls="zmdi zmdi-arrow-left zmdi-16px" style="width: 90px" >
        上一条
    </a>
    <a id="btnNext" class="easyui-linkbutton" iconCls="zmdi zmdi-arrow-right zmdi-16px" style="width: 90px">下一条</a>
    <a id="btnCancel" class="easyui-linkbutton" iconCls="zmdi zmdi-close zmdi-16px" style="width: 90px">关闭</a>
</div>