<div style="padding: 10px 60px 20px 60px">
    @RenderBody()
    <div style="padding: 5px; text-align: center;">
        <a id="btnPrevios" href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="CloseEditor();" style="width: 90px">上一条</a>
        <a id="btnNext" href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="CloseEditor();" style="width: 90px">下一条</a>
        <a id="btnCancel" href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="CloseEditor();" style="width: 90px">关闭</a>
    </div>

</div>