<div class="editorLayout">
    @RenderBody()
    <div class="dialogButton">
        <a id="btnOK" href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-ok" onclick="Submit()" style="width: 90px">
            确定
        </a>
        <a id="btnCancel" href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="CloseEditor();" style="width: 90px">取消</a>
    </div>
</div>
<script>
    function Submit() {
        var photoFilePath = $('#Sphoto').attr('src');
        var photoFileName = photoFilePath.substr(photoFilePath.lastIndexOf('/') + 1);
        var photoGuid = photoFileName.substr(0, photoFileName.lastIndexOf('.'));

        console.log(photoFileName);
        var data = {
            Sno: $('#Sno').textbox('getText'),
            Sname: $('#Sname').textbox('getText'),
            Ssex: $('#Ssex').combobox('getText'),
            Sage: $('#Sage').textbox('getText'),
            Sdept: $('#Sdept').combobox('getText'),
            SphotoGuid: photoGuid
        };
        if (ValidateForm()) {
            Confirm('确认',
                '确认添加记录吗？',
                function() { Post('@Url.Action("Create", "Student")', data, '添加记录遇到问题！') });
        }
    }
</script>