﻿@model MVCSchooldbDemo.Models.Data.RoleInfo

@{
    Layout = null;
}

<div class="editorLayout">
    @Html.Partial("~/Views/Role/_Editor.cshtml")
    @Html.Partial("~/Views/Shared/LayoutEditor/_ButtonsForEdit.cshtml")
</div>
<script>
    $(function() {
        $('#Role_btnOK')
            .bind('click',
                function() {
                    EditorSubmit('#formRole',
                        '#gridRole',
                        '#editorRole',
                        '@Url.Action("Edit", "Role")',
                        window.GetData(),
                        "确认修改记录吗？",
                        '修改记录出现错误');;
                });
    });
</script>