@model MVCSchooldbDemo.Models.Data.UserInfo
<div class="editorTitle">@ViewBag.DialogTitle</div>
<form id="formUser" method="post" class="easyui-form" data-options="novalidate:true">
    <div id="editorTabs" class="easyui-tabs editorTabs">
        <div title="用户">
            <table class="editorTable">
                <tr>
                    <td class="editorNameColumnStandard" style="width: 100px">账号</td>
                    <td>
                        <input id="Account" class="easyui-textbox"/>
                    </td>
                </tr>
                <tr>
                    <td class="editorNameColumnStandard">密码</td>
                    <td>
                        <input id="Password" class="easyui-textbox"/>
                    </td>
                </tr>
                <tr>
                    <td class="editorNameColumnStandard">确认密码</td>
                    <td>
                        <input id="ConfirmPassword" class="easyui-textbox"/>
                    </td>
                </tr>
                <tr>
                    <td class="editorNameColumnStandard">全名</td>
                    <td>
                        <input id="FullName" class="easyui-textbox"/>
                    </td>
                </tr>
                <tr>
                    <td class="editorNameColumnStandard">用户类别</td>
                    <td>
                        @*                <div onclick="$('#UserRole').combobox('clear');BindCombobox('#UserRole', '@Url.Action("GetAllItems", "Role")', null, 'Id', 'Name', null);">*@
                        <select id="UserRole" class="easyui-combobox" style="width: 100px"></select>
                        @*                </div>*@
                    </td>
                </tr>
            </table>
        </div>
    </div>
</form>
<script>
    $(function() {
        BindCombobox('#UserRole',
            '@Url.Action("GetAllItems", "Role")',
            null,
            'Id',
            'Name',
            null);

        $('#User_btnCancel')
            .bind('click',
                function() {
                    CloseEditor('#editorUser');
                }
            );
    });

    function GetData() {
        return {
            Account: $('#Account').textbox('getText'),
            Password: $('#Password').textbox('getText'),
            FullName: $('#FullName').textbox('getText'),
            RoleId: $('#UserRole').combobox('getValue')
        };
    }
</script>

@if (Model != null)
{
    <script>
        window.previousId = -1;
        window.nextId = -1;

        $(function() { ShowData('@Url.Action("GetSingleItem", "User")/@ViewBag.CurrentId'); });

        function ShowData(url) {
            $.ajax({
                type: "POST",
                url: url,
                success: function(data) {
                    const item = data.Item;

                    $('#Account').textbox('setText', item.Account);
                    $('#Password').textbox('setText', item.Password);
                    $('#FullName').textbox('setText', item.FullName);
                    $('#UserRole').combobox('setValue', item.RoleId);

                    window.previousId = data.PreviousId;
                    window.nextId = data.NextId;
                },
                error: function() {
                    Alert("错误", 'error', AlertType.Error);
                },
                dataType: "json"
            });
        };
    </script>
}