﻿@model MVCSchooldbDemo.Models.Data.UserInfo

@{
    Layout = null;
}

<div class="editorLayout">
    @Html.Partial("~/Views/User/_Editor.cshtml")
    @Html.Partial("~/Views/Shared/LayoutEditor/_ButtonsForEdit.cshtml")
</div>
<script>
    $(function() {
        $('#User_btnOK')
            .bind('click',
                function() {
                    EditorSubmit('#formUser',
                        '#gridUser',
                        '#editorUser',
                        '@Url.Action("Edit", "User")',
                        window.GetData(),
                        "确认修改用户吗？",
                        '修改用户出现错误');;
                });
    });
</script>