.datalist .datagrid-header { border-width: 0; }

.datalist .datagrid-group,
.m-list .m-list-group {
	background-color: #ffffff;
	border-color: #ddd;
	border-style: solid;
	border-width: 0 0 1px 0;
	font-weight: bold;
	height: 25px;
	line-height: 25px;
	overflow: hidden;
}

.datalist .datagrid-group-expander { display: none; }

.datalist .datagrid-group-title { padding: 0 4px; }

.datalist .datagrid-btable {
	table-layout: fixed;
	width: 100%;
}

.datalist .datagrid-row td {
	border-bottom-width: 0;
	border-left-color: transparent;
	border-right-color: transparent;
	border-style: solid;
}

.datalist-lines .datagrid-row td { border-bottom-width: 1px; }

.datalist .datagrid-cell,
.m-list li {
	height: auto;
	line-height: 18px;
	overflow: hidden;
	padding: 2px 4px;
	position: relative;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: auto;
}

.datalist-link,
.m-list li > a {
	color: #444;
	cursor: pointer;
	display: block;
	line-height: 18px;
	margin: -2px -4px;
	overflow: hidden;
	overflow: hidden;
	padding: 2px 4px;
	padding-right: 16px;
	position: relative;
	text-decoration: none;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.datalist-link::after,
.m-list li > a::after {
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	border-style: solid;
	border-width: 1px 1px 0 0;
	content: '';
	display: block;
	height: 8px;
	margin-top: -4px;
	position: absolute;
	right: 6px;
	top: 50%;
	transform: rotate(45deg);
	width: 8px;
}

.m-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.m-list li {
	border-color: #ddd;
	border-style: solid;
	border-width: 0 0 1px 0;
}

.m-list li > a:hover {
	background: #E6E6E6;
	color: #444;
}

.m-list .m-list-group { padding: 0 4px; }