.layout {
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: relative;
	z-index: 0;
}

.layout-panel {
	overflow: hidden;
	position: absolute;
}

.layout-body {
	min-height: 1px;
	min-width: 1px;
}

.layout-panel-east,
.layout-panel-west { z-index: 2; }

.layout-panel-north,
.layout-panel-south { z-index: 3; }

.layout-expand {
	cursor: pointer;
	font-size: 1px;
	padding: 0px;
	position: absolute;
	z-index: 1;
}

.layout-expand .panel-header,
.layout-expand .panel-body {
	background: transparent;
	filter: none;
	overflow: hidden;
}

.layout-expand .panel-header { border-bottom-width: 0px; }

.layout-expand .panel-body { position: relative; }

.layout-expand .panel-body .panel-icon {
	left: 50%;
	margin-left: -8px;
	margin-top: 0;
	top: 0;
}

.layout-expand-west .panel-header .panel-icon,
.layout-expand-east .panel-header .panel-icon { display: none; }

.layout-expand-title {
	-moz-transform: rotate(90deg);
	-moz-transform-origin: 0 0;
	-o-transform: rotate(90deg);
	-o-transform-origin: 0 0;
	-webkit-transform: rotate(90deg);
	-webkit-transform-origin: 0 0;
	left: 21px;
	position: absolute;
	top: 0;
	transform: rotate(90deg);
	transform-origin: 0 0;
	white-space: nowrap;
	word-wrap: normal;
}

.layout-expand-with-icon { top: 18px; }

.layout-expand .panel-body-noheader .layout-expand-title,
.layout-expand .panel-body-noheader .panel-icon { top: 5px; }

.layout-expand .panel-body-noheader .layout-expand-with-icon { top: 23px; }

.layout-split-proxy-h,
.layout-split-proxy-v {
	display: none;
	font-size: 1px;
	position: absolute;
	z-index: 5;
}

.layout-split-proxy-h {
	cursor: e-resize;
	width: 5px;
}

.layout-split-proxy-v {
	cursor: n-resize;
	height: 5px;
}

.layout-mask {
	background: #fafafa;
	filter: alpha(opacity=10);
	opacity: 0.10;
	position: absolute;
	z-index: 4;
}

.layout-button-up { background: url('images/layout_arrows.png') no-repeat -16px -16px; }

.layout-button-down { background: url('images/layout_arrows.png') no-repeat -16px 0; }

.layout-button-left { background: url('images/layout_arrows.png') no-repeat 0 0; }

.layout-button-right { background: url('images/layout_arrows.png') no-repeat 0 -16px; }

.layout-split-proxy-h,
.layout-split-proxy-v { background-color: #b3b3b3; }

.layout-split-north { border-bottom: 5px solid #fff; }

.layout-split-south { border-top: 5px solid #fff; }

.layout-split-east { border-left: 5px solid #fff; }

.layout-split-west { border-right: 5px solid #fff; }

.layout-expand { background-color: #ffffff; }

.layout-expand-over { background-color: #ffffff; }