@model MVCSchooldbDemo.Models.Data.XZKFYDCFInfo
@{
    Layout = null;
}
<div class="editorTitle">@ViewBag.DialogTitle</div>
<form id="formXZKFYDCF" method="post" class="easyui-form" data-options="novalidate:true">
<div id="editorTabs" class="easyui-tabs editorTabs">
<div title="心脏康复运动处方">
    <table id="test1" class="editorTable">
        <tr>
            <th rowspan="5" class="editorNameColumnStandard">
                一般情况
            </th>
            <th class="editorNameColumnStandard">
                姓名
            </th>
            <td>
                <input id="心脏康复运动处方_姓名" class="easyui-textbox" style="width: 80px" data-options="required:false, missingMessage:'请输入ALT'"/>
            </td>
            <th class="editorNameColumnStandard">
                性别
            </th>
            <td>
                <input id="心脏康复运动处方_性别" class="easyui-textbox" style="width: 80px" data-options="required:false, missingMessage:'请输入ASL'"/>
            </td>
            <th class="editorNameColumnStandard">
                年龄
            </th>
            <td>
                <input id="心脏康复运动处方_年龄" class="easyui-textbox" style="width: 80px" data-options="required:false, missingMessage:'请输入白蛋白'"/>
            </td>
            <th class="editorNameColumnStandard">
                床号
            </th>
            <td>
                <input id="心脏康复运动处方_床号" class="easyui-textbox" style="width: 80px" data-options="required:false, missingMessage:'请输入r-GT'"/>
            </td>
        </tr>
        <tr>
            <th>
                住院号
            </th>
            <td>
                <input id="心脏康复运动处方_住院号" class="easyui-textbox" style="width: 80px" data-options="required:false, missingMessage:'请输入总胆红素'"/>
            </td>
            <th>
                制定日期
            </th>
            <td colspan="3">
                <input id="心脏康复运动处方_制定日期" class="easyui-datebox" data-options="required:true, missingMessage:'请输入出生日期', validType:'date'"/>
            </td>
            <th>医师</th>
            <td>
                <input id="心脏康复运动处方_医师" class="easyui-textbox" style="width: 80px" data-options="required:false, missingMessage:'请输入总胆红素'"/>
            </td>

        </tr>
        <tr>
            <th>
                临床诊断
            </th>
            <td colspan="7">
                <input id="心脏康复运动处方_临床诊断" class="easyui-textbox" style="width: 100%" data-options="required:false, missingMessage:'请输入总胆红素'"/>
            </td>
        </tr>
        <tr>
            <th>
                用药情况
            </th>
            <td colspan="7">
                <input id="心脏康复运动处方_用药情况" class="easyui-textbox" style="width: 100%" data-options="required:false, missingMessage:'请输入总胆红素'"/>
            </td>
        </tr>
        <tr>
            <th>
                影响运动因素
            </th>
            <td colspan="7">
                <input id="心脏康复运动处方_影响运动因素" class="easyui-textbox" style="width: 100%" data-options="required:false, missingMessage:'请输入总胆红素'"/>
            </td>
        </tr>
        <tr>
            <th rowspan="4">
                运动评估
            </th>
            <th rowspan="3" colspan="2">
                心肺联合运动试验/平板运动<br/>相关参数
            </th>
            <th>
                基础心率（bpm）
            </th>
            <td>
                <input id="心脏康复运动处方_基础心率" class="easyui-textbox" style="width: 80px" data-options="required:false, missingMessage:'请输入ASL'"/>
            </td>
            <th>
                运动峰值心率（bpm）
            </th>
            <td>
                <input id="心脏康复运动处方_运动峰值心率" class="easyui-textbox" style="width: 80px" data-options="required:false, missingMessage:'请输入白蛋白'"/>
            </td>
            <th>
                VO2MAX<br/>（ml/min）
            </th>
            <td>
                <input id="心脏康复运动处方_VO2MAX" class="easyui-textbox" style="width: 80px" data-options="required:false, missingMessage:'请输入总胆红素'"/>
            </td>

        </tr>
        <tr>

            <th class="editorNameColumnStandard">
                基础血压（mmHg）
            </th>
            <td>
                <input id="心脏康复运动处方_基础血压" class="easyui-textbox" style="width: 80px" data-options="required:false, missingMessage:'请输入r-GT'"/>
            </td>
            <th>
                运动峰值血压（mmHg）
            </th>
            <td>
                <input id="心脏康复运动处方_运动峰值血压" class="easyui-textbox" style="width: 80px" data-options="required:false, missingMessage:'请输入r-GT'"/>
            </td>
            <th>
                VO2kgMAX<br/>（ml/min/Kg）
            </th>
            <td>
                <input id="心脏康复运动处方_VO2kgMAX" class="easyui-textbox" style="width: 80px" data-options="required:false, missingMessage:'请输入r-GT'"/>
            </td>
        </tr>
        <tr>

            <th>
                最大运动量（METs）
            </th>
            <td>
                <input id="心脏康复运动处方_最大运动量" class="easyui-textbox" style="width: 80px" data-options="required:false, missingMessage:'请输入r-GT'"/>
            </td>
            <th>
                3min恢复心率（bpm）
            </th>
            <td>
                <input id="心脏康复运动处方_3min恢复心率" class="easyui-textbox" style="width: 80px" data-options="required:false, missingMessage:'请输入r-GT'"/>
            </td>
            <th>

            </th>
            <td></td>
        </tr>
        <tr>
            <th colspan="2">
                心肺联合运动试验/平板运动<br/>试验结果
            </th>
            <td colspan="6">
                <input id="心脏康复运动处方_心肺联合运动试验平板运动试验结果" class="easyui-textbox" style="width: 100%" data-options="required:false, missingMessage:'请输入总胆红素'"/>
            </td>
        </tr>
        <tr>
            <th rowspan="6">
                运动处方
            </th>
            <th rowspan="3" colspan="2">
                运动强度
            </th>
            <th>
                代谢强度（METs）
            </th>
            <td>
                <input id="心脏康复运动处方_代谢强度" class="easyui-textbox" style="width: 80px" data-options="required:false, missingMessage:'请输入ASL'"/>
            </td>
            <th>
                运动靶心率下限（bpm）
            </th>
            <td>
                <input id="心脏康复运动处方_运动靶心率下限" class="easyui-textbox" style="width: 80px" data-options="required:false, missingMessage:'请输入白蛋白'"/>
            </td>
            <th>
                运动靶心率上限（bpm）
            </th>
            <td>
                <input id="心脏康复运动处方_运动靶心率上限（bpm）" class="easyui-textbox" style="width: 80px" data-options="required:false, missingMessage:'请输入总胆红素'"/>
            </td>
        </tr>
        <tr>
            <th colspan="7">
                自觉疲劳程度（12~14级即自觉有稍累或累的感觉）
            </th>
        </tr>
        <tr>
            <th>运动方式</th><td colspan="7">慢步走、功率自行车、阻力运动 等</td>
        </tr>
        <tr>
            <th>运动时间</th>
            <td colspan="7">每次30~50min。分三阶段：热身期：5-10 min，锻炼期：20~40 min，恢复期：5-10 min。</td>
        </tr>
        <tr>
            <th>运动频度</th>
            <td colspan="7">每周3-5次。</td>
        </tr>
        <tr>
            <th>注意事项</th>
            <td colspan="7">
                <p>1. 不建议空腹运动。根据患者体能，一次运动课可一次完成或分几次完成。</p>
                <p>2. 运动前后测量血压、心率，糖尿病患者必要时测血糖。</p>
                <p>3. 运动中出现有胸闷、胸痛、头晕、乏力、脸色苍白等即停止运动并求医。 运动中带心率带进行运动，检测心率变化。随身携带速效救心丸或硝酸甘油，如有胸闷、胸痛等不适舌下含服速效救心丸或硝酸甘 油。</p>
            </td>
        </tr>
    </table>
</div>
</div>
</form>
<script>
    $(function() {
        $('#XZKFYDCF_btnCancel')
            .bind('click',
                function() {
                    CloseEditor('#editorXZKFYDCF');
                }
            );
    });

    function GetData() {
        return {
            字段1: $('#字段1').textbox('getText'),
            字段2: $('#字段2').combobox('getText'),
            字段3: $('#字段3').textbox('getText'),
        };
    }
</script>

@if (Model != null)
{
    <script>
        window.previousId = -1;
        window.nextId = -1;
        $(function() { ShowData(`@Url.Action("GetSingleItem", "XZKFYDCF")/${@ViewBag.CurrentId}`); });


        function ShowData(url) {
            $.ajax({
                type: "POST",
                url: url,
                success: function(data) {
                    const item = data.Item;

                    $('#字段1').textbox('setText', item.字段1);
                    $('#字段2').textbox('setText', item.字段2);
                    $('#字段3').combobox('setText', item.字段3);

                    window.previousId = data.PreviousId;
                    window.nextId = data.NextId;
                },
                error: function() {
                    Alert("错误", 'error', AlertType.Error);
                },
                dataType: "json"
            });
        };
    </script>
}