.m-toolbar {
	min-height: 32px;
	position: relative;
	text-align: center;
}

.m-toolbar .m-title {
	font-size: 16px;
	font-weight: bold;
	line-height: 32px;
	text-align: center;
}

.m-left {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	vertical-align: middle;
	z-index: 1;
}

.m-right {
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	vertical-align: middle;
	z-index: 1;
}

.m-left > .l-btn, .m-right > .l-btn,
.m-left > .switchbutton, .m-right > .switchbutton {
	margin-top: -13px;
	position: relative;
	top: 50%;
	vertical-align: top;
}

.m-back::before, .m-next::after {
	-webkit-transform: rotate(45deg);
	border-style: solid;
	box-sizing: border-box;
	content: '';
	display: inline-block;
	height: 10px;
	position: relative;
	top: 7px;
	transform: rotate(45deg);
	vertical-align: top;
	width: 10px;
}

.m-back::before {
	border-width: 0 0 1px 1px;
	margin-left: 6px;
	margin-right: -6px;
}

.m-next::after {
	border-width: 1px 1px 0 0;
	margin-left: -6px;
	margin-right: 6px;
}

.m-buttongroup {
	display: inline-block;
	margin: 0;
	overflow: hidden;
	padding: 0;
	vertical-align: middle;
}

.m-buttongroup .l-btn {
	float: left;
	margin-left: -1px;
}

.m-buttongroup .l-btn:last-child::after {
	clear: both;
	content: '';
}

.m-buttongroup .l-btn:not(:first-child):not(:last-child) { border-radius: 0; }

.m-buttongroup .l-btn:first-child {
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
	margin-left: 0;
}

.m-buttongroup .l-btn:last-child {
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
}

.m-buttongroup-justified {
	display: table;
	table-layout: fixed;
}

.m-buttongroup-justified .l-btn {
	display: table-cell;
	float: none;
}

.m-badge:not(.l-btn),
.l-btn.m-badge::after {
	background-color: #d9534f;
	border-radius: 10px;
	border-style: solid;
	border-width: 0px;
	color: #fff;
	display: inline-block;
	font-size: 12px;
	line-height: 1;
	min-width: 10px;
	padding: 2px 4px;
	text-align: center;
	white-space: nowrap;
	z-index: 99999;
}

.l-btn.m-badge::after,
.l-btn .m-badge {
	position: absolute;
	right: -10px;
	top: -10px;
}

.tabs-inner .m-badge {
	position: absolute;
	right: -10px;
	top: 1px;
}

.tabs-inner > .tabs-title > .m-badge {
	right: 0;
	top: 0;
}

.tabs-header-bottom .tabs-inner > .tabs-title > .m-badge {
	bottom: 0;
	right: 0;
	top: auto;
}

.panel-footer .l-btn .l-btn-icon-top .m-badge,
.panel-footer .l-btn .l-btn-icon-bottom .m-badge {
	right: -10px;
	top: 0;
}

.l-btn.m-badge::after { content: attr(data-badge); }

.l-btn, .l-btn-left {
	overflow: visible;
	position: relative;
}

.m-in {
	-webkit-animation-duration: 250ms;
	-webkit-animation-timing-function: ease-out;
}

.m-out {
	-webkit-animation-duration: 250ms;
	-webkit-animation-timing-function: ease-in;
}

.m-slide-left.m-in { -webkit-animation-name: slideLeftIn; }

.m-slide-left.m-out { -webkit-animation-name: slideLeftOut; }

.m-slide-right.m-in { -webkit-animation-name: slideRightIn; }

.m-slide-right.m-out { -webkit-animation-name: slideRightOut; }

.m-slide-up.m-in { -webkit-animation-name: slideUpIn; }

.m-slide-up.m-out { -webkit-animation-name: slideUpOut; }

.m-slide-down.m-in { -webkit-animation-name: slideDownIn; }

.m-slide-down.m-out { -webkit-animation-name: slideDownOut; }

@-webkit-keyframes slideLeftIn {
	from { -webkit-transform: translateX(100%); }

	to { -webkit-transform: translateX(0); }
}

@-webkit-keyframes slideLeftOut {
	from { -webkit-transform: translateX(0); }

	to { -webkit-transform: translateX(-100%); }
}

@-webkit-keyframes slideRightIn {
	from { -webkit-transform: translateX(-100%); }

	to { -webkit-transform: translateX(0); }
}

@-webkit-keyframes slideRightOut {
	from { -webkit-transform: translateX(0); }

	to { -webkit-transform: translateX(100%); }
}

@-webkit-keyframes slideUpIn {
	from { -webkit-transform: translateY(100%); }

	to { -webkit-transform: translateY(0); }
}

@-webkit-keyframes slideUpOut {
	from { -webkit-transform: translateY(0); }

	to { -webkit-transform: translateY(-100%); }
}

@-webkit-keyframes slideDownIn {
	from { -webkit-transform: translateY(-100%); }

	to { -webkit-transform: translateY(0); }
}

@-webkit-keyframes slideDownOut {
	from { -webkit-transform: translateY(0); }

	to { -webkit-transform: translateY(100%); }
}

.m-fade.m-in { -webkit-animation-name: fadeIn; }

.m-fade.m-out { -webkit-animation-name: fadeOut; }

@-webkit-keyframes fadeIn {
	from { opacity: 0; }

	to { opacity: 1 }
}

@-webkit-keyframes fadeOut {
	from { opacity: 1; }

	to { opacity: 0; }
}

.m-pop.m-in { -webkit-animation-name: popIn; }

.m-pop.m-out { -webkit-animation-name: popOut; }

@-webkit-keyframes popIn {
	from {
		-webkit-transform: scale(.2);
		opacity: 0;
	}

	to {
		-webkit-transform: scale(1);
		opacity: 1;
	}
}

@-webkit-keyframes popOut {
	from {
		-webkit-transform: scale(1);
		opacity: 1;
	}

	to {
		-webkit-transform: scale(0);
		opacity: 0;
	}
}

.navpanel { position: absolute; }

.calendar-header, .calendar-title { height: 30px; }

.calendar-title span {
	height: 26px;
	line-height: 26px
}

.datebox-button { height: 24px; }

.datebox-button a {
	display: inline-block;
	line-height: 24px;
}

.tree-node {
	box-sizing: border-box;
	height: 28px;
	padding: 5px 0;
}

.panel-title {
	height: 26px;
	line-height: 26px;
}

.window { padding: 5px 0 0 0; }

.window-shadow {
	-moz-box-shadow: 0 0 30px 0 #D3D3D3;
	-webkit-box-shadow: 0 0 30px 0 #D3D3D3;
	box-shadow: 0 0 30px 0 #D3D3D3;
}

.window-header .panel-title {
	height: 26px;
	line-height: 26px;
	text-align: center;
}

.window-header .panel-tool { display: none; }

.window .window-body { border: 0; }

.dialog-button {
	border-color: transparent;
	overflow: hidden;
}

.dialog-button .l-btn { margin: 0; }

.tabs-justified,
.tabs-justified .l-btn,
.tabs-justified li a.tabs-inner,
.tabs-justified li.tabs-selected a.tabs-inner,
.tabs-header-bottom .tabs-justified li.tabs-selected a.tabs-inner,
.tabs-header-bottom .tabs-justified li a.tabs-inner {
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
}

.datagrid-row, .datagrid-header-row { height: 35px; }

.datalist .datagrid-group-title,
.m-list .m-list-group { padding: 0 10px; }

.datalist .datagrid-cell,
.m-list li { padding: 10px; }

.m-list li .m-right { right: 10px; }

.datalist .datalist-link,
.m-list li > a {
	margin: -10px;
	padding: 10px;
	padding-right: 24px;
}

.m-list li > a .m-right { right: 24px; }

.datalist .datalist-link::after,
.m-list li > a::after { right: 12px; }

.spinner-arrow-up, .spinner-arrow-down {
	background: none;
	display: inline-block;
	float: right;
	height: 100%;
	position: relative;
	width: 50%;
}

.spinner-arrow-down { float: left; }

.spinner-arrow-up::after,
.spinner-arrow-down::after {
	-webkit-transform: rotate(-45deg);
	border-style: solid;
	border-width: 2px 2px 0 0;
	box-sizing: border-box;
	content: '';
	display: inline-block;
	height: 10px;
	left: 50%;
	margin-left: -5px;
	margin-top: -3px;
	position: absolute;
	top: 50%;
	transform: rotate(-45deg);
	vertical-align: top;
	width: 10px;
}

.spinner-arrow-down::after {
	border-width: 0 0 2px 2px;
	margin-top: -8px;
}