body {
	font-family: "微软雅黑";
}

.editorLayout {
	padding: 0 20px 10px 20px;
}

.editorTable {
	border-collapse: collapse;
	margin: 3px;
}

	.editorTable td {
		border: 1px dotted #ccc;
		padding: 5px 10px 5px 10px;
	}

	.editorTable th {
		border: 1px dotted #ccc;
		padding: 5px 10px 5px 10px;
		text-align: center;
	}

.editorNameColumnStandard {
	background: #FAFAFA;
	width: 80px;
}

.editorNameColumnNarrow {
	background: #FAFAFA;
	width: 60px;
}

.editorNameColumnWide {
	background: #FAFAFA;
	width: 100px;
}



.editorInputComboBox {
	width: 100px;
}

.searchTable td, .searchTable th {
	padding: 5px 5px 0 5px;
}

.buttonsTable td, .buttonsTable th {
	padding: 5px 5px 5px 5px;
}

.dialogTitle {
	font-size: 20px;
	font-weight: bold;
	padding: 5px 5px 0 5px;
}

.dialogButton {
	padding: 30px;
	bottom: 0;
	right: 0;
	position: absolute;
}

#footer {
	padding: 3px;
	text-align: center;
}

#header {
}

.navBar {
	float: right;
	margin: auto 10px auto auto;
}

.fa-icon {
	padding-top: 2px;
}

.easyui-radio {
	position: relative;
	border: 1px solid #95B8E7;
	background-color: #fff;
	vertical-align: middle;
	display: inline-block;
	overflow: hidden;
	white-space: nowrap;
	margin: 0;
	padding: 0;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	display: block;
}
