/*/*body {
	padding-bottom: 20px;
	padding-top: 50px;
	
}

/* Set padding to keep content from hitting the edges */

/*.body-content {
	padding-left: 15px;
	padding-right: 15px;
}*/

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/

/*.dl-horizontal dt {
	white-space: normal;
}*/

/* Set width on the form input elements since they're 100% wide by default */

/*input,
select,
textarea {
	max-width: 280px;
}**/


body {
	font-family: "微软雅黑";
}

.editorLayout { padding: 0 20px 10px 20px; }

.editorTable {
	border-collapse: collapse;
	margin: 0 auto;
	width: 100%;
}

.editorTable td, th {
	border: 1px dotted #ccc;
	padding: 5px 10px 5px 10px;
}

.editorNameColumn { background: #FAFAFA; }

.searchTable td, th { padding: 5px 5px 0 5px; }

.buttonsTable td, th { padding: 5px 5px 5px 5px; }

.dialogTitle {
	font-size: 20px;
	font-weight: bold;
}

.dialogButton {
	float: right;
	padding: 10px 0;
}

#footer {
	padding: 3px;
	text-align: center;
}

#header { }

.navBar {
	float: right;
	margin: auto 10px auto auto;
}

.fa-icon { padding-top: 2px; }