body { font-family: "微软雅黑"; }

.editorLayout { padding: 0 20px 10px 20px; }

.editorTable {
	border-collapse: collapse;
	margin: 0 auto;
	width: 100%;
}

.editorTable td, th {
	border: 1px dotted #ccc;
	padding: 5px 10px 5px 10px;
}

.editorNameColumn {
	background: #FAFAFA;
	width: 70px;
}

.editorInputComboBox {
	width: 100px;
}

.searchTable td, th { padding: 5px 5px 0 5px; }

.buttonsTable td, th { padding: 5px 5px 5px 5px; }

.dialogTitle {
	font-size: 20px;
	font-weight: bold;
}

.dialogButton {
	padding: 20px;
	bottom: 0;
	right: 0;
	position:absolute;
}

#footer {
	padding: 3px;
	text-align: center;
}

#header { }

.navBar {
	float: right;
	margin: auto 10px auto auto;
}

.fa-icon { padding-top: 2px; }