@model MVCSchooldbDemo.Models.Data.XYTXJTLBInfo
@{
    Layout = null;
}

<div class="editorTitle">@ViewBag.DialogTitle</div>
<form id="formXYTXJTLB" method="post" class="easyui-form" data-options="novalidate:true">
    <div id="editorTabs" class="easyui-tabs editorTabs">
        <div title="西雅图心绞痛量表">
            <table class="editorTable">
                <tr>
                    <th style="width: 200px;">1. 过去 4 周内，由于胸痛、胸部紧榨感和心绞痛所致下列各项受限程度</th>
                    <td></td>
                </tr>
                <tr>
                    <th>自己穿衣</th>
                    <td><span id="西雅图心绞痛量表_自己穿衣"></span></td>
                </tr>
                <tr>
                    <th>室内走路</th>
                    <td><span id="西雅图心绞痛量表_室内走路"></span></td>
                </tr>
                <tr>
                    <th>淋浴</th>
                    <td><span id="西雅图心绞痛量表_淋浴"></span></td>
                </tr>
                <tr>
                    <th>爬坡或楼梯（三层，不停）</th>
                    <td><span id="西雅图心绞痛量表_爬坡或楼梯"></span></td>
                </tr>
                <tr>
                    <th>户外活动或提杂物</th>
                    <td><span id="西雅图心绞痛量表_户外活动或提杂物"></span></td>
                </tr>
                <tr>
                    <th>轻快步行一段路（一公里）</th>
                    <td><span id="西雅图心绞痛量表_轻快步行一段路"></span></td>
                </tr>
                <tr>
                    <th>慢跑（一公里）</th>
                    <td><span id="西雅图心绞痛量表_慢跑"></span></td>
                </tr>
                <tr>
                    <th>提起或移动重物</th>
                    <td><span id="西雅图心绞痛量表_提起或移动重物"></span></td>
                </tr>
                <tr>
                    <th>剧烈运动（如游泳或打球）</th>
                    <td><span id="西雅图心绞痛量表_剧烈运动"></span></td>
                </tr>
                <tr>
                    <th>2. 与 4 周前比较，作最大强度的活动是，胸痛、胸部紧榨感和心绞痛的发作情况</th>
                    <td><span id="西雅图心绞痛量表_心绞痛发作情况"></span></td>
                </tr>
                <tr>
                    <th>3. 过去 4 周内，胸痛、胸部紧榨感和心绞痛的平均发作次数</th>
                    <td><span id="西雅图心绞痛量表_心绞痛平均发作次数"></span></td>
                </tr>
                <tr>
                    <th>4. 过去 4 周内，因胸痛、胸部紧榨感和心绞痛服用硝基药物（如硝酸甘油）平均次数</th>
                    <td><span id="西雅图心绞痛量表_服用药物平均次数"></span></td>
                </tr>
                <tr>
                    <th>5. 因胸痛、胸部紧榨感和心绞痛遵守医嘱服药带来的烦恼</th>
                    <td><span id="西雅图心绞痛量表_带来的烦恼"></span></td>
                </tr>
                <tr>
                    <th>6. 对治疗胸痛、胸部紧榨感和心绞痛的各种措施的满意程度</th>
                    <td><span id="西雅图心绞痛量表_措施满意程度"></span></td>
                </tr>
               
            </table>
        </div>
    </div>
</form>
<script>
    $(function() {
        GenerateInputListByDataDictItem("西雅图心绞痛量表_自己穿衣", InputType.Radio, Direction.Horizontal);
        GenerateInputListByDataDictItem("西雅图心绞痛量表_室内走路", InputType.Radio, Direction.Horizontal);
        GenerateInputListByDataDictItem("西雅图心绞痛量表_淋浴", InputType.Radio, Direction.Horizontal);
        GenerateInputListByDataDictItem("西雅图心绞痛量表_爬坡或楼梯", InputType.Radio, Direction.Horizontal);
        GenerateInputListByDataDictItem("西雅图心绞痛量表_户外活动或提杂物", InputType.Radio, Direction.Horizontal);
        GenerateInputListByDataDictItem("西雅图心绞痛量表_轻快步行一段路", InputType.Radio, Direction.Horizontal);
        GenerateInputListByDataDictItem("西雅图心绞痛量表_慢跑", InputType.Radio, Direction.Horizontal);
        GenerateInputListByDataDictItem("西雅图心绞痛量表_提起或移动重物", InputType.Radio, Direction.Horizontal);
        GenerateInputListByDataDictItem("西雅图心绞痛量表_剧烈运动", InputType.Radio, Direction.Horizontal);
        GenerateInputListByDataDictItem("西雅图心绞痛量表_心绞痛发作情况", InputType.Radio, Direction.Horizontal);
        GenerateInputListByDataDictItem("西雅图心绞痛量表_心绞痛平均发作次数", InputType.Radio, Direction.Horizontal);
        GenerateInputListByDataDictItem("西雅图心绞痛量表_服用药物平均次数", InputType.Radio, Direction.Horizontal);
        GenerateInputListByDataDictItem("西雅图心绞痛量表_带来的烦恼", InputType.Radio, Direction.Horizontal);
        GenerateInputListByDataDictItem("西雅图心绞痛量表_措施满意程度", InputType.Radio, Direction.Horizontal);
        GenerateInputListByDataDictItem("西雅图心绞痛量表_解释满意程度", InputType.Radio, Direction.Horizontal);
        GenerateInputListByDataDictItem("西雅图心绞痛量表_治疗满意程度", InputType.Radio, Direction.Horizontal);
        GenerateInputListByDataDictItem("西雅图心绞痛量表_影响生活乐趣程度", InputType.Radio, Direction.Horizontal);
        GenerateInputListByDataDictItem("西雅图心绞痛量表_若继续发病未来感觉", InputType.Radio, Direction.Horizontal);
        GenerateInputListByDataDictItem("西雅图心绞痛量表_担心程度", InputType.Radio, Direction.Horizontal);

        $('#XYTXJTLB_btnCancel')
            .bind('click',
                function() {
                    CloseEditor('#editorXYTXJTLB');
                }
            );
    });

    function GetData() {
        return {
            字段1: $('#字段1').textbox('getText'),
            字段2: $('#字段2').combobox('getText'),
			字段3: $('#字段3').textbox('getText'),
        };
    }
</script>

@if (Model != null)
{
    <script>
        window.previousId = -1;
        window.nextId = -1;
		$(function() { ShowData('@Url.Action("GetItemData", "XYTXJTLB")' + '/' + @ViewBag.CurrentId); });


        function ShowData(url) {
            $.ajax({
                type: "POST",
                url: url,
                success: function(data) {
                    const item = data.Item;

                    $('#字段1').textbox('setText', item.字段1);
                    $('#字段2').textbox('setText', item.字段2);
                    $('#字段3').combobox('setText', item.字段3);

                    window.previousId = data.PreviousId;
                    window.nextId = data.NextId;
                },
                error: function() {
                    Alert("错误", 'error', AlertType.Error);
                },
                dataType: "json"
            });
        };
    </script>
}
