@model MVCSchooldbDemo.Models.Data.XYTXJTLBInfo
@{
    Layout = null;
}
<div class="editorLayout">
    @Html.Partial("~/Views/XYTXJTLB/_Editor.cshtml")
    @Html.Partial("~/Views/Shared/LayoutEditor/_ButtonsForCreate.cshtml")
</div>
<script>
    $(function() {
        $('#XYTXJTLB_btnOK')
            .bind('click',
                function() {
                    EditorSubmit('#formXYTXJTLB',
                        '#gridXYTXJTLB',
                        '#editorXYTXJTLB',
                        '@Url.Action("Create", "XYTXJTLB")',
                        window.GetData(),
                        "确认添加记录吗？",
                        '添加记录出现错误');
                }
            );
    });
</script>