@model MVCSchooldbDemo.Models.Data.XYTXJTLBInfo
@{
    Layout = null;
}
<div class="editorLayout">
    @Html.Partial("~/Views/XYTXJTLB/_Editor.cshtml")
    @Html.Partial("~/Views/Shared/LayoutEditor/_ButtonsForEdit.cshtml")
</div>
<script>
    $(function() {
        $('#XYTXJTLB_btnOK')
            .bind('click',
                function() {
                    EditorSubmit('#formXYTXJTLB','#gridXYTXJTLB','#editorXYTXJTLB','@Url.Action("Edit", "XYTXJTLB")', window.GetData(), "确认修改记录吗？", '修改记录出现错误');;
                });
    });
</script>
