@model MVCSchooldbDemo.Models.Data.DataDictItemInfo
@{
    Layout = null;
}
<div class="dialogTitle">@ViewBag.DialogTitle</div>
<form id="formDataDictItem" method="post" class="easyui-form" data-options="novalidate:true">
    <div id="editorTabs" class="easyui-tabs" style="padding: 5px;">
        <div title="标签1">
            <table class="editorTable">
                <tr>
                    <td class="editorNameColumn">项目名</td>
                    <td>
                        <input id="项目名" class="easyui-textbox" />
                    </td>
					    <td class="editorNameColumn">项目值</td>
                    <td>
                        <input id="项目值" class="easyui-textbox" data-options="multiline:true" />
                    </td>
                </tr>
            </table>
        </div>
        <div title="标签2">
        </div>
    </div>
</form>
<script>
    $(function() {
        $('#btnCancel')
            .bind('click',
                function() {
                    CloseEditor('#editorDataDictItem');
                }
            );
    });

    function GetData() {
        return {
            项目名: $('#项目名').textbox('getText'),
            项目值: $('#项目值').combobox('getText'),
        };
    }
</script>

@if (Model != null)
{
    <script>
        window.previousId = -1;
        window.nextId = -1;

        $(function() { ShowData('@Url.Action("GetItemData", "DataDictItem")' + '/' + @ViewBag.CurrentId); });


        function ShowData(url) {
            $.ajax({
                type: "POST",
                url: url,
                success: function(data) {
                    const item = data.Item;

                    $('#项目名').textbox('setText', item.项目名);
                    $('#项目值').textbox('setText', item.项目值);

                    window.previousId = data.PreviousId;
                    window.nextId = data.NextId;
                },
                error: function() {
                    Alert("错误", 'error', AlertType.Error);
                },
                dataType: "json"
            });
        };
    </script>
}
