.filebox .textbox-value {
	left: -5000px;
	position: absolute;
	top: 0;
	vertical-align: top;
}

.filebox-label {
	background: url('images/blank.gif') no-repeat;
	cursor: pointer;
	display: inline-block;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 10;
}

.l-btn-disabled .filebox-label { cursor: default; }