.switchbutton {
	-moz-border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
	background: #d9d9d9;
	border: 1px solid #d9d9d9;
	border-radius: 4px 4px 4px 4px;
	cursor: pointer;
	display: inline-block;
	margin: 0;
	overflow: hidden;
	padding: 0;
	text-decoration: none;
	vertical-align: middle;
}

.switchbutton-inner {
	display: inline-block;
	left: -1px;
	overflow: hidden;
	position: relative;
	top: -1px;
}

.switchbutton-on,
.switchbutton-off,
.switchbutton-handle {
	-moz-border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
	border-radius: 4px 4px 4px 4px;
	display: inline-block;
	float: left;
	font-size: 12px;
	height: 100%;
	text-align: center;
}

.switchbutton-on {
	background: #00bbee;
	color: #fff;
}

.switchbutton-off {
	background-color: #ffffff;
	color: #404040;
}

.switchbutton-on,
.switchbutton-reversed .switchbutton-off {
	-moz-border-radius: 4px 0 0 4px;
	-webkit-border-radius: 4px 0 0 4px;
	border-radius: 4px 0 0 4px;
}

.switchbutton-off,
.switchbutton-reversed .switchbutton-on {
	-moz-border-radius: 0 4px 4px 0;
	-webkit-border-radius: 0 4px 4px 0;
	border-radius: 0 4px 4px 0;
}

.switchbutton-handle {
	-moz-box-shadow: 0 0 3px 0 #d9d9d9;
	-webkit-box-shadow: 0 0 3px 0 #d9d9d9;
	background-color: #ffffff;
	border: 1px solid #d9d9d9;
	box-shadow: 0 0 3px 0 #d9d9d9;
	color: #404040;
	left: 50%;
	position: absolute;
	top: 0;
}

.switchbutton-value {
	left: -5000px;
	position: absolute;
	top: 0;
}

.switchbutton-disabled {
	filter: alpha(opacity=50);
	opacity: 0.5;
}

.switchbutton-disabled,
.switchbutton-readonly { cursor: default; }