<form id="ff" class="easyui-form" method="post" data-options="novalidate:true">
    <table cellpadding="5">
        <tr>
            <td>学号:</td>
            <td>
                <input id="Sno" class="easyui-textbox" type="text" name="Sno"/>
            </td>
        </tr>
        <tr>
            <td>姓名:</td>
            <td>
                <input id="Sname" class="easyui-textbox" type="text" name="Sname"/>
            </td>
        </tr>
        <tr>
            <td>性别:</td>
            <td>
                <select id="Ssex" class="easyui-combobox" name="Ssex" style="width: 100px">
                    <option value="男">男</option>
                    <option value="女">女</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>年龄:</td>
            <td>
                <input id="Sage" class="easyui-textbox" name="Sage" data-options="required:true"/>
            </td>
        </tr>
        <tr>
            <td>系:</td>
            <td>
                <select id="Sdept" name="Sdept" class="easyui-combobox" style="width: 100px">
                    <option value="CS">CS</option>
                    <option value="IS">IS</option>
                    <option value="MA">MA</option>
                </select>
            </td>
        </tr>
    </table>
</form>