@model MVCSchooldbDemo.Models.Data.StudentInfo

<div class="dialogTitle">@ViewBag.DialogTitle</div>
<form id="ff" method="post" class="easyui-form" data-options="novalidate:true">
    <div id="editorTabs" class="easyui-tabs" style="padding: 5px;">
        <div title="Tab1">
            <table class="editorTable">
                <tr>
                    <td class="editorNameColumn" style="width: 100px">学号:</td>
                    <td>
                        <input id="Sno" class="easyui-textbox"/>
                    </td>
                </tr>
                <tr>
                    <td class="editorNameColumn">姓名：</td>
                    <td>
                        <input id="Sname" class="easyui-textbox"/>
                    </td>
                </tr>
                <tr>
                    <td class="editorNameColumn">性别:</td>
                    <td>
                        <select id="Ssex" class="easyui-combobox" style="width: 100px">
                            <option value="男">男</option>
                            <option value="女">女</option>
                        </select>
                    </td>
                </tr>
            </table>
        </div>
        <div title="Tab2">
            
            <table class="editorTable">
                <tr>
                    <tr>
                        <td class="editorNameColumn">年龄：</td>
                        <td>
                            <input id="Sage" class="easyui-textbox"/>
                        </td>
                    </tr>
                <tr>
                    <td class="editorNameColumn">系:</td>
                    <td>
                        <select id="Sdept" class="easyui-combobox" style="width: 100px">
                            <option value="CS">CS</option>
                            <option value="IS">IS</option>
                            <option value="MA">MA</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <img id="Sphoto" src="#" style="width: 100px;"/>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <span id="uploadify"></span>
                    </td>
                </tr>
            </table>
        </div>
        <div Title="Tab3"></div>
    </div>
</form>
<script>
    $(function() {
        window.InitUploadify("@Url.Action("UploadPhoto", "Student")",
            true,
            false,
            1,
            "*.*",
            "支持所有类型文件",
            function(file, data, response) {
                var fileInfo = JSON.parse(data);
                $('#Sphoto').attr('src', '../' + fileInfo.BaseDirectory + fileInfo.FileName);
            },
            function() {},
            function() {},
            {});
    });


    function GetData() {
        var photoFilePath = $('#Sphoto').attr('src');
        var photoFileName = photoFilePath.substr(photoFilePath.lastIndexOf('/') + 1);
        var photoGuid = photoFileName.substr(0, photoFileName.lastIndexOf('.'));

        return {
            Sno: $('#Sno').textbox('getText'),
            Sname: $('#Sname').textbox('getText'),
            Ssex: $('#Ssex').combobox('getText'),
            Sage: $('#Sage').textbox('getText'),
            Sdept: $('#Sdept').combobox('getText'),
            SphotoGuid: photoGuid
        };
    }


</script>

@if (Model != null)
{
    <script>
        window.previousId = -1;
        window.nextId = -1;

        $(function() { ShowData('@Url.Action("GetStudentData", "Student")' + '/' + @ViewBag.CurrentId); });

        function ShowData(url) {
            $.ajax({
                type: "POST",
                url: url,
                success: function(data) {
                    var item = data.Item;

                    $('#Sno').textbox('setText', item.Sno);
                    $('#Sname').textbox('setText', item.Sname);
                    $('#Sage').textbox('setText', item.Sage);
                    $('#Ssex').combobox('setText', item.Ssex);
                    $('#Sdept').combobox('setText', item.Sdept);
                    $('#Sphoto').attr('src', '../' + item.SphotoPath);

                    window.previousId = data.PreviousId;
                    window.nextId = data.NextId;
                },
                error: function() {
                    Alert("错误", 'error', AlertType.Error);
                },
                dataType: "json"
            });
        };
    </script>
}