﻿@model Student
@{
    Layout = null;
}
<div style="padding: 10px 60px 20px 60px">
    @Html.Partial("_PartialEditor")
    <div style="padding: 5px; text-align: center;">
        <a id="btnOK" href="#" class="easyui-linkbutton" iconCls="icon-ok" onclick="Submit('@Url.Action("Create", "Student")','添加学生记录遇到问题！')" style="width: 90px">
            确定
        </a>
        <a id="btnCancel" href="#" class="easyui-linkbutton" iconCls="icon-cancel" onclick="CloseEditor();" style="width: 90px">取消</a>
    </div>
</div>
