@using MVCSchooldbDemo.Models.Data
﻿@model MVCSchooldbDemo.Models.Data.StudentInfo
@{
    Layout = null;
  
}


<div class="editorLayout">
    @Html.Partial("~/Views/Student/_Editor.cshtml")
    @Html.Partial("~/Views/Shared/LayoutEditor/_ButtonsForCreate.cshtml")
</div>
<script>
    $(function() {
        $('#btnOK')
            .bind('click',
                function() {
                    EditorSubmit('#formStudent',  '#gridStudent','#editorStudent', '@Url.Action("Create", "Student")', window.GetData(), "确认添加记录吗？", '添加记录出现错误');
                }
            );
    });
</script>