@model Student

@{
    Layout = "";
}

<div style="padding: 10px 60px 20px 60px">
    @Html.Partial("_PartialEditor");
    <div style="padding: 5px; text-align: center;">
        <a id="btnOK" href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-ok" onclick="Submit();" style="width: 90px">
            确定
        </a>
        <a id="btnCancel" href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="CloseEditor();" style="width: 90px">取消</a>
    </div>
</div>
<script>
    function Submit() {
        var url = '@Url.Action("Create", "Student")';

        $('#ff')
            .form('submit',
            {
                url: url,
                onSubmit: function () {
                    return $(this).form('enableValidation').form('validate');
                },
                success: function () {
                    Close();
                    Refresh();
                },
                error: function () {
                    $.messager.alert('错误', '添加学生记录遇到问题！', 'error');
                }
            });
    }
</script>
}

