﻿@model MVCSchooldbDemo.Models.Data.StudentInfo

@{
    Layout = null;
}

<div class="editorLayout">
    @Html.Partial("~/Views/Student/_Editor.cshtml")
    @Html.Partial("~/Views/Shared/LayoutEditor/_ButtonsForEdit.cshtml")
</div>
<script>
    $(function() {
        $('#btnOK')
            .bind('click',
                function() {
                    EditorSubmit('#formStudent',
                        '#gridStudent',
                        '#editorStudent',
                        '@Url.Action("Edit", "Student")',
                        window.GetData(),
                        "确认修改记录吗？",
                        '修改记录出现错误');;
                });
    });
</script>