@model IEnumerable<Student>

@{
    Layout = null;
}


<table id="grid"></table>
<div id="tb" style="padding: 2px 5px;">
    <div>
        Sno<input id="SearchSno" class="easyui-textbox" style="width: 110px">
        Ssex<input id="SearchSsex" class="easyui-textbox" style="width: 110px">
        Sdept
        <select id="SearchSdept" class="easyui-combobox" panelHeight="auto" style="width: 100px">
            <option value="ALL">ALL</option>
            <option value="MA">MA</option>
            <option value="CS">CS</option>
            <option value="IS">IS</option>
        </select>
        <a href="#" class="easyui-linkbutton" iconCls="icon-search" onclick="Search()">搜索</a>
    </div>
    <div>
        <a href="#" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="Add()">添加</a>
        <a href="#" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="Edit()">编辑</a>
        <a href="#" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="Delete()">删除</a>
    </div>
</div>
<div id="editor"></div>
<script type="text/javascript">
    var url = '@Url.Action("GetResult", "Student")';
    var columns = [
        [
            {
                field: 'Sno',
                title: '学号',
                width: 100,
                sortable: true
            },
            {
                field: 'Sname',
                title: '姓名',
                width: 100,
                sortable: true
            },
            {
                field: 'Ssex',
                title: '性别',
                width: 100,
                sortable: true
            },
            {
                field: 'Sage',
                title: '年龄',
                width: 100,
                sortable: true
            },
            {
                field: 'Sdept',
                title: '系',
                width: 100,
                sortable: true
            }
        ]
    ];

    var gridTitle = '学生记录';
    var gridSortName = 'Sno';

    $(function() {
        BindGrid(url, columns, gridTitle, gridSortName, {}); //Show all records
    });

    function Delete() {
        var url = '@Url.Action("Delete", "Student")';
        DeleteRecord(url, '确认删除学生记录吗？', 'Sno');
    }

    function Add() {
        var url = '@Url.Action("Create", "Student")';

        ShowEditor(url, '添加学生');
    }

    function Edit() {
        var row = $('#grid').datagrid('getSelected');
        var id = row.Id;
        var url = '@Url.Action("Edit", "Student")' + '/' + id;

        ShowEditor(url, '编辑学生');
    }

    function Search() {
        var queryData = {
            Sno: $('#SearchSno').textbox('getText'),
            Ssex: $('#SearchSsex').textbox('getText'),
            Sdept: ($('#SearchSdept').combobox('getText') === 'ALL') ? '' : $('#SearchSdept').combobox('getText')
        };

        BindGrid(url, columns, gridTitle, gridSortName, queryData);
    }
</script>