@model IEnumerable<MVCSchooldbDemo.Student>

@{
    Layout = null;
}


<table id="dg"></table>
<div id="tb" style="padding: 2px 5px;">
    <div>
        Sno<input id="Sno" class="easyui-textbox" style="width: 110px">
        Ssex<input id="Ssex" class="easyui-textbox" style="width: 110px">
        Sdept
        <select id="Sdept" class="easyui-combobox" panelHeight="auto" style="width: 100px">
            <option value="ALL">ALL</option>
            <option value="MA">MA</option>
            <option value="CS">CS</option>
            <option value="IS">IS</option>
        </select>
        <a href="#" class="easyui-linkbutton" iconCls="icon-search" onclick="Search()">搜索</a>
    </div>
    <div>
        <a href="#" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="ShowAddDialog()">添加</a>
        <a href="#" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="ShowEditDialog()">编辑</a>
        <a href="#" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="DeleteRecord()">删除</a>
    </div>
</div>
<div id="addDialog"></div>
<div id="editDialog"></div>
<script type="text/javascript">
    $(function () {

        InitGrid({});
    });

    function InitGrid(queryData) {
        var url = '@Url.Action("GetResult", "Student")';
        $('#dg')
            .datagrid({
                url: url,
                columns: [
                    [
                        {
                            field: 'Sno',
                            title: '学号',
                            width: 100,
                            sortable: true
                        },
                        {
                            field: 'Sname',
                            title: '姓名',
                            width: 100,
                            sortable: true
                        },
                        {
                            field: 'Ssex',
                            title: '性别',
                            width: 100,
                            sortable: true
                        },
                        {
                            field: 'Sage',
                            title: '年龄',
                            width: 100,
                            sortable: true
                        },
                        {
                            field: 'Sdept',
                            title: '系',
                            width: 100,
                            sortable: true
                        }
                    ]
                ],
                title: '学生信息',
                fitColumns: true,
                iconCls: 'icon-view',
                width: '100%',
                nowrap: true,
                autoRowHeight: false,
                striped: true,
                collapsible: true,
                pagination: true,
                pageSize: 40,
                pageList: [10, 20, 40],
                rownumbers: true,
                SortName: 'Sno', //根据某个字段给easyUI排序
                sortOrder: 'asc',
                ctrlSelect: true,
                toolbar: '#tb',
                queryParams: queryData,
                remoteSort: false
            });

    }

    function ShowAddDialog() {
        var url = '@Url.Action("Create", "Student")';

        $('#addDialog')
            .dialog({
                closed: true,
                title: '添加学生',
                href: url,
                width: 400
            });

        $('#addDialog').dialog('open');
    }

    function ShowEditDialog() {
        var row = $('#dg').datagrid('getSelected');
        var id = row.Id;
        var url = '@Url.Action("Edit", "Student")' + '/' + id;

        if (row) {
            $('#editDialog')
                .dialog({
                    closed: true,
                    title: '编辑学生',
                    href: url,
                    width: 400
                });

            $('#editDialog').dialog('open');
        }
    };

    function DeleteRecord() {
        var rows = $('#dg').datagrid('getSelections');
        var ids = [];
        var url = '@Url.Action("Delete", "Student")';

        if (rows) {
            $.messager.confirm('问题',
                '确认要删除选中的学生吗？',
                function (result) {
                    if (result) {
                        for (var i = 0; i < rows.length; i++) {
                            ids.push(rows[i].Sno);
                        }

                        $.ajax({
                            url: url,
                            type: 'POST',
                            data: JSON.stringify(ids),
                            contentType: 'application/json; charset=utf-8',
                            success: function () {
                                $("#dg").datagrid('reload');
                            }
                        });
                    }
                });
        }
    }

    function Search() {
        var queryData = {
            Sno: $('#Sno').textbox('getText'),
            Ssex: $('#Ssex').textbox('getText'),
            Sdept: ($('#Sdept').combobox('getText') === 'ALL') ? '' : $('#Sdept').combobox('getText')
        };
        InitGrid(queryData);
    }
</script>