@model MVCSchooldbDemo.Models.Data.BADLInfo
@{
    Layout = null;
}
<div class="editorTitle">@ViewBag.DialogTitle</div>
<form id="formBADL" method="post" class="easyui-form" data-options="novalidate:true">
    <div id="editorTabs" class="easyui-tabs editorTabs">
        <div title="Barthel 指数评价表">
            <table class="editorTable">
                <tr>
                    <th colspan="6">BADL 评估：Barthel 指数评价表</th>
                </tr>
                <tr>
                    <th class="editorNameColumnStandard">项目</th>
                    <th colspan="4">评定标准</th>
                    <th class="editorNameColumnStandard">评分</th>
                </tr>
                <tr>
                    <th>1. 大便</th>
                    <td colspan="4">
                        0 = 失禁或昏迷<br />
                        5 = 偶尔失禁（每周 < 1 次）<br />
                        10 = 能控制<br />
                    </td>
                    <td>
                        <select id="Barthel指数评价表_大便" class="easyui-combobox editorInputComboBox"></select>
                    </td>
                </tr>
                <tr>
                    <th>2. 小便</th>
                    <td colspan="4">
                        0 = 失禁或昏迷或需由他人导尿<br />
                        5 = 偶尔失禁（每 24 小时 < 1 次，每周 > 1 次）<br />
                        10 = 能控制<br />
                    </td>
                    <td>
                        <select id="Barthel指数评价表_小便" class="easyui-combobox editorInputComboBox"></select>
                    </td>
                </tr>
                <tr>
                    <th>3. 修饰</th>
                    <td colspan="4">
                        0 = 需帮助<br />
                        5 = 独立洗脸、梳头、刷牙、剃胡须<br />
                    </td>
                    <td>
                        <select id="Barthel指数评价表_修饰" class="easyui-combobox editorInputComboBox"></select>
                    </td>
                </tr>
                <tr>
                    <th>4. 用厕</th>
                    <td colspan="4">
                        0 = 依赖别人<br />
                        5 = 需部分帮助<br />
                        10 = 自理<br />
                    </td>
                    <td>
                        <select id="Barthel指数评价表_用厕" class="easyui-combobox editorInputComboBox"></select>
                    </td>
                </tr>
                <tr>
                    <th>5. 进食</th>
                    <td colspan="4">
                        0 = 依赖别人<br />
                        5 = 需部分帮助（夹菜、盛饭、切面包）<br />
                        10 = 全面自理<br />
                    </td>
                    <td>
                        <select id="Barthel指数评价表_进食" class="easyui-combobox editorInputComboBox"></select>
                    </td>
                </tr>
                <tr>
                    <th>6. 转移<br />（床 → 椅）</th>
                    <td colspan="4">
                        0 = 不能步行<br />
                        5 = 在轮椅上独立行动<br />
                        10 = 需 1 人帮助步行（体力或语言指导）<br />
                        15 = 独立步行（可用辅助器）<br />
                    </td>
                    <td>
                        <select id="Barthel指数评价表_转移" class="easyui-combobox editorInputComboBox"></select>
                    </td>
                </tr>
                <tr>
                    <th>7. 活动（步行）</th>
                    <td colspan="4">
                        0 = 完全依赖别人，不能坐<br />
                        5 = 需大量帮助（2 人）能坐<br />
                        10 = 需少量帮助（1 人）或指导<br />
                        15 = 自理<br />
                    </td>
                    <td>
                        <select id="Barthel指数评价表_活动" class="easyui-combobox editorInputComboBox"></select>
                    </td>
                </tr>
                <tr>
                    <th>8. 穿衣</th>
                    <td colspan="4">
                        0 = 依赖别人<br />
                        5 = 需部分帮助<br />
                        10 = 自理（系、开钮扣、关、开拉锁和穿鞋）<br />
                    </td>
                    <td>
                        <select id="Barthel指数评价表_穿衣" class="easyui-combobox editorInputComboBox"></select>
                    </td>
                </tr>
                <tr>
                    <th>9. 上下楼梯</th>
                    <td colspan="4">
                        0 = 不能<br />
                        5 = 需帮助（体力或语言指导）<br />
                        10 = 自理<br />
                    </td>
                    <td>
                        <select id="Barthel指数评价表_上下楼梯" class="easyui-combobox editorInputComboBox"></select>
                    </td>
                </tr>
                <tr>
                    <th>10. 洗澡</th>
                    <td colspan="4">
                        0 = 依赖别人<br />
                        15 = 自理<br />
                    </td>
                    <td>
                        <select id="Barthel指数评价表_洗澡" class="easyui-combobox editorInputComboBox"></select>
                    </td>
                </tr>
                <tr>
                    <th>参考</th>
                    <td colspan="4">
                        总分 100 分，＞60 分生活基本自理；40~60 分生活需要部分帮助；20~40 分生活需大部分帮助；20 分 以下生活完全依赖。
                    </td>
                    <th>总分</th>
                </tr>
                <tr>
                    <th class="editorNameColumnStandard">被评估人</th>
                    <td>
                        <select id="Barthel指数评价表_被评估人" class="easyui-combobox editorInputComboBox"></select>
                    </td>
                    <th class="editorNameColumnStandard">评估日期</th>
                    <td>
                        <input id="Barthel指数评价表_评估日期" class="easyui-datebox" data-options="required:false, missingMessage:'请输入编号'" />
                    </td>
                    <th class="editorNameColumnStandard">康复护士</th>
                    <td>
                        <input id="Barthel指数评价表_康复护士" class="easyui-textbox" style="width: 100px" data-options="required:false, missingMessage:'请输入舒张压1'" />
                    </td>
                </tr>
            </table>
        </div>
    </div>
</form>
<script>
    $(function() {
        BindDataDictItemToCombobox("Barthel指数评价表_大便");
        BindDataDictItemToCombobox("Barthel指数评价表_小便");
        BindDataDictItemToCombobox("Barthel指数评价表_修饰");
        BindDataDictItemToCombobox("Barthel指数评价表_用厕");
        BindDataDictItemToCombobox("Barthel指数评价表_进食");
        BindDataDictItemToCombobox("Barthel指数评价表_转移");
        BindDataDictItemToCombobox("Barthel指数评价表_活动");
        BindDataDictItemToCombobox("Barthel指数评价表_穿衣");
        BindDataDictItemToCombobox("Barthel指数评价表_上下楼梯");
        BindDataDictItemToCombobox("Barthel指数评价表_洗澡");

        BindCombobox('#Barthel指数评价表_被评估人',
            '@Url.Action("GetAllItems", "Patient")',
            null,
            '编号',
            '姓名',
            null,
            true);

        $('#Barthel指数评价表_评估日期').datebox('setValue', '@DateTime.Now.ToString("yyyy-MM-dd")');

        $('#BADL_btnCancel')
            .bind('click',
                function() {
                    CloseEditor('#editorBADL');
                }
            );


    });

    function GetData() {
        return {
            字段1: $('#字段1').textbox('getText'),
            字段2: $('#字段2').combobox('getText'),
            字段3: $('#字段3').textbox('getText')
        };
    }
</script>

@if (Model != null)
{
    <script>
    window.previousId = -1;
    window.nextId = -1;
    $(function() { ShowData(`@Url.Action("GetSingleItem", "BADL")/${@ViewBag.CurrentId}`); });

    function ShowData(url) {
        $.ajax({
            type: "POST",
            url: url,
            success: function(data) {
                const item = data.Item;

                $('#字段1').textbox('setText', item.字段1);
                $('#字段2').textbox('setText', item.字段2);
                $('#字段3').combobox('setText', item.字段3);

                window.previousId = data.PreviousId;
                window.nextId = data.NextId;
            },
            error: function() {
                Alert("错误", 'error', AlertType.Error);
            },
            dataType: "json"
        });
    };
    </script>
}