@model MVCSchooldbDemo.Models.Data.XZKFYDZLJLInfo
@{
    Layout = null;
}
<div class="editorTitle">@ViewBag.DialogTitle</div>
<form id="formXZKFYDZLJL" method="post" class="easyui-form" data-options="novalidate:true">
    <div id="editorTabs" class="easyui-tabs editorTabs">
        <div title="心脏康复运动治疗记录">
            <table class="editorTable">
                <tr>
                    <th class="editorNameColumnStandard">
                        姓名
                    </th>
                    <td>
                        <input id="心脏康复运动治疗记录_姓名" class="easyui-textbox" style="width: 80px" data-options="required:false, missingMessage:'请输入ALT'"/>
                    </td>
                    <th class="editorNameColumnStandard">
                        性别
                    </th>
                    <td>
                        <input id="心脏康复运动治疗记录_性别" class="easyui-textbox" style="width: 80px" data-options="required:false, missingMessage:'请输入ASL'"/>
                    </td>
                    <th class="editorNameColumnStandard">
                        年龄
                    </th>
                    <td>
                        <input id="心脏康复运动治疗记录_年龄" class="easyui-textbox" style="width: 80px" data-options="required:false, missingMessage:'请输入白蛋白'"/>
                    </td>
                    <th class="editorNameColumnStandard">
                        治疗目标
                    </th>
                    <td>
                        <input id="心脏康复运动处方_治疗目标" class="easyui-textbox" style="width: 80px" data-options="required:false, missingMessage:'请输入r-GT'"/>
                    </td>
                </tr>
                <tr>
                    <th>
                        诊断
                    </th>
                    <td colspan="3">
                        <input id="心脏康复运动治疗记录_诊断" class="easyui-textbox" style="width: 100%" data-options="required:false, missingMessage:'请输入ALT'"/>
                    </td>
                    <th>
                        靶心率
                    </th>
                    <td>
                        <input id="心脏康复运动治疗记录_靶心率" class="easyui-textbox" style="width: 80px" data-options="required:false, missingMessage:'请输入ASL'"/>
                    </td>
                    <th>
                        注意事项
                    </th>
                    <td>
                        <input id="心脏康复运动治疗记录_注意事项" class="easyui-textbox" style="width: 80px" data-options="required:false, missingMessage:'请输入白蛋白'"/>
                    </td>
                </tr>
                <tr>
                    <th>
                        运动前 BP/RP
                    </th>
                    <td>
                        <input id="心脏康复运动治疗记录_运动前" class="easyui-textbox" style="width: 80px" data-options="required:false, missingMessage:'请输入ALT'"/>
                    </td>
                    <th>
                        运动中 BP/RP
                    </th>
                    <td>
                        <input id="心脏康复运动治疗记录_运动中" class="easyui-textbox" style="width: 80px" data-options="required:false, missingMessage:'请输入ASL'"/>
                    </td>
                    <th>
                        运动后 BP/RP
                    </th>
                    <td>
                        <input id="心脏康复运动治疗记录_运动后" class="easyui-textbox" style="width: 80px" data-options="required:false, missingMessage:'请输入白蛋白'"/>
                    </td>
                    <th>
                        热身
                    </th>
                    <td>
                        <input id="心脏康复运动处方_热身" class="easyui-textbox" style="width: 80px" data-options="required:false, missingMessage:'请输入r-GT'"/>
                    </td>
                </tr>
                <tr>
                    <th colspan="2">踏车</th>
                    <th>时间</th>
                    <td>
                        <input id="心脏康复运动治疗记录_踏车时间" class="easyui-textbox" style="width: 80px" data-options="required:false, missingMessage:'请输入ALT'"/>
                    </td>
                    <th>
                        阻力
                    </th>
                    <td>
                        <input id="心脏康复运动治疗记录_踏车阻力" class="easyui-textbox" style="width: 80px" data-options="required:false, missingMessage:'请输入ASL'"/>
                    </td>
                    <th>
                        Borg 评分
                    </th>
                    <td>
                        <input id="心脏康复运动治疗记录_踏车Borg评分" class="easyui-textbox" style="width: 80px" data-options="required:false, missingMessage:'请输入白蛋白'"/>
                    </td>
                </tr>
                <tr>
                    <th colspan="2">上肢腋阻</th>
                    <th>时间</th>
                    <td>
                        <input id="心脏康复运动治疗记录_上肢腋阻时间" class="easyui-textbox" style="width: 80px" data-options="required:false, missingMessage:'请输入ALT'"/>
                    </td>
                    <th>
                        阻力
                    </th>
                    <td>
                        <input id="心脏康复运动治疗记录_上肢腋阻阻力" class="easyui-textbox" style="width: 80px" data-options="required:false, missingMessage:'请输入ASL'"/>
                    </td>
                    <th>
                        Borg 评分
                    </th>
                    <td>
                        <input id="心脏康复运动治疗记录_上肢腋阻Borg评分" class="easyui-textbox" style="width: 80px" data-options="required:false, missingMessage:'请输入白蛋白'"/>
                    </td>
                </tr>
                <tr>
                    <th colspan="2">平板</th>
                    <th>时间</th>
                    <td>
                        <input id="心脏康复运动治疗记录_平板时间" class="easyui-textbox" style="width: 80px" data-options="required:false, missingMessage:'请输入ALT'"/>
                    </td>
                    <th>
                        阻力
                    </th>
                    <td>
                        <input id="心脏康复运动治疗记录_平板阻力" class="easyui-textbox" style="width: 80px" data-options="required:false, missingMessage:'请输入ASL'"/>
                    </td>
                    <th>
                        Borg 评分
                    </th>
                    <td>
                        <input id="心脏康复运动治疗记录_平板Borg评分" class="easyui-textbox" style="width: 80px" data-options="required:false, missingMessage:'请输入白蛋白'"/>
                    </td>
                </tr>
                <tr>
                    <th colspan="2">手足联动</th>
                    <th>时间</th>
                    <td>
                        <input id="心脏康复运动治疗记录_手足联动时间" class="easyui-textbox" style="width: 80px" data-options="required:false, missingMessage:'请输入ALT'"/>
                    </td>
                    <th>
                        阻力
                    </th>
                    <td>
                        <input id="心脏康复运动治疗记录_手足联动阻力" class="easyui-textbox" style="width: 80px" data-options="required:false, missingMessage:'请输入ASL'"/>
                    </td>
                    <th>
                        Borg 评分
                    </th>
                    <td>
                        <input id="心脏康复运动治疗记录_手足联动Borg评分" class="easyui-textbox" style="width: 80px" data-options="required:false, missingMessage:'请输入白蛋白'"/>
                    </td>
                </tr>
                <tr>
                    <th>抗阻训练</th>
                    <td>
                        <input id="心脏康复运动治疗记录_抗阻训练" class="easyui-textbox" style="width: 80px" data-options="required:false, missingMessage:'请输入ALT'"/>
                    </td>
                    <th>
                        柔韧性训练
                    </th>
                    <td>
                        <input id="心脏康复运动治疗记录_柔韧性训练" class="easyui-textbox" style="width: 80px" data-options="required:false, missingMessage:'请输入ASL'"/>
                    </td>
                    <th>
                        平衡训练
                    </th>
                    <td>
                        <input id="心脏康复运动治疗记录_平衡训练" class="easyui-textbox" style="width: 80px" data-options="required:false, missingMessage:'请输入白蛋白'"/>
                    </td>
                    <th>运动中症状</th>
                    <td>
                        <input id="心脏康复运动治疗记录_运动中症状" class="easyui-textbox" style="width: 80px" data-options="required:false, missingMessage:'请输入ALT'"/>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</form>
<script>
    $(function() {
        $('#XZKFYDZLJL_btnCancel')
            .bind('click',
                function() {
                    CloseEditor('#editorXZKFYDZLJL');
                }
            );
    });

    function GetData() {
        return {
            字段1: $('#字段1').textbox('getText'),
            字段2: $('#字段2').combobox('getText'),
            字段3: $('#字段3').textbox('getText'),
        };
    }
</script>

@if (Model != null)
{
    <script>
        window.previousId = -1;
        window.nextId = -1;
        $(function() { ShowData(`@Url.Action("GetSingleItem", "XZKFYDZLJL")/${@ViewBag.CurrentId}`); });


        function ShowData(url) {
            $.ajax({
                type: "POST",
                url: url,
                success: function(data) {
                    const item = data.Item;

                    $('#字段1').textbox('setText', item.字段1);
                    $('#字段2').textbox('setText', item.字段2);
                    $('#字段3').combobox('setText', item.字段3);

                    window.previousId = data.PreviousId;
                    window.nextId = data.NextId;
                },
                error: function() {
                    Alert("错误", 'error', AlertType.Error);
                },
                dataType: "json"
            });
        };
    </script>
}