@model MVCSchooldbDemo.Models.Data.XZKFYDZLJLInfo
@{
    Layout = null;
}
<div class="editorLayout">
    @Html.Partial("~/Views/XZKFYDZLJL/_Editor.cshtml")
    @Html.Partial("~/Views/Shared/LayoutEditor/_ButtonsForDetails.cshtml")
</div>

<script>
    $(function() {
//need disable & enable next and previous buttons

        $('#XZKFYDZLJL_btnPrevious')
            .bind('click',
                function() {
                    if (window.previousId !== -1) {
                        window.ShowData('@Url.Action("GetItemData", "XZKFYDZLJL")' + '/' + window.previousId);
                    }
                });

        $('#XZKFYDZLJL_btnNext')
         .bind('click',
             function () {
                 if (window.nextId !== -1) {
                     window.ShowData('@Url.Action("GetItemData", "XZKFYDZLJL")' + '/' + window.nextId);
                 }
             });
    });
</script>
