.combobox-item,
.combobox-group,
.combobox-stick {
	font-size: 12px;
	padding: 3px;
}

.combobox-item-disabled {
	filter: alpha(opacity=50);
	opacity: 0.5;
}

.combobox-gitem { padding-left: 10px; }

.combobox-group,
.combobox-stick { font-weight: bold; }

.combobox-stick {
	background: inherit;
	left: 1px;
	position: absolute;
	right: 1px;
	top: 1px;
}

.combobox-item-hover {
	background-color: #777;
	color: #fff;
}

.combobox-item-selected {
	background-color: #0052A3;
	color: #fff;
}

.combobox-icon {
	display: inline-block;
	height: 16px;
	margin-right: 2px;
	vertical-align: middle;
	width: 16px;
}