@model MVCSchooldbDemo.Models.Data.PatientInfo

<div class="dialogTitle">@ViewBag.DialogTitle</div>
<form id="formPatient" method="post" class="easyui-form" data-options="novalidate:true">
    <div id="editorTabs" class="easyui-tabs" style="padding: 5px;">
        <div title="Tab1">
            <table class="editorTable">
                <tr>
                    <td class="editorNameColumn">编号</td>
                    <td>
                        <input id="编号" class="easyui-textbox"/>
                    </td>
                    <td class="editorNameColumn">住院号</td>
                    <td>
                        <input id="住院号" class="easyui-textbox"/>
                    </td>
                    <td class="editorNameColumn">姓名</td>
                    <td>
                        <input id="姓名" class="easyui-textbox"/>
                    </td>
                </tr>
                <tr>
                    <td class="editorNameColumn">性别</td>
                    <td>
                        <select id="性别" class="easyui-combobox editorInputComboBox"></select>
                    </td>

                    <td class="editorNameColumn">出生日期</td>
                    <td>
                        <input id="出生日期" class="easyui-datebox">
                    </td>

                    <td class="editorNameColumn">入组日期</td>
                    <td>
                        <input id="入组日期" class="easyui-datebox">
                    </td>
                </tr>
                <tr>
                    <td class="editorNameColumn">民族</td>
                    <td>
                        <input id="民族" class="easyui-textbox"/>
                    </td>

                    <td class="editorNameColumn">婚姻状况</td>
                    <td>
                        <select id="婚姻状况" class="easyui-combobox editorInputComboBox">
                        </select>
                    </td>
                    <td class="editorNameColumn">文化程度</td>
                    <td>
                        <select id="文化程度" class="easyui-combobox editorInputComboBox"></select>
                    </td>
                </tr>
                <tr>
                    <td class="editorNameColumn" style="width: 70px">职业</td>
                    <td>
                        <select id="职业" class="easyui-combobox editorInputComboBox"></select>
                    </td>

                    <td class="editorNameColumn">年收入</td>
                    <td>
                        <select id="年收入" class="easyui-combobox editorInputComboBox">
                        </select>
                    </td>
                    <td class="editorNameColumn">保险类别</td>
                    <td>
                        <select id="保险类别" class="easyui-combobox editorInputComboBox">
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="editorNameColumn">联系电话</td>
                    <td>
                        <input id="联系电话" class="easyui-textbox"/>
                    </td>
                    <td class="editorNameColumn">联系地址</td>
                    <td colspan="3">
                        <input id="联系地址" class="easyui-textbox" style="width: 100%"/>
                    </td>
                </tr>
                <tr>
                    <td id="住所至康复中心交通是否便利" colspan="3">住所至康复中心交通是否便利</td>
                </tr>
                <tr>
                    <td id="是否参与工作" colspan="6">是否参与工作</td>
                </tr>
                <tr>
                    <td id="吸烟" colspan="6">吸烟</td>
                </tr>
                <tr>
                    <td id="药物不良反应" colspan="6">药物不良反应</td>
                </tr>
                <tr>
                    <td id="目前的疾病" colspan="6">目前的疾病</td>
                </tr>
            </table>
        </div>
        <div title="Tab2">
        </div>
        <div Title="Tab3"></div>
    </div>
</form>
<script>
    $(function() {
        BindDataDictItemToCombobox('#性别', '性别', null);
        BindDataDictItemToCombobox('#婚姻状况', '婚姻状况', null);
        BindDataDictItemToCombobox('#职业', '职业', null);
        BindDataDictItemToCombobox('#年收入', '年收入', null);
        BindDataDictItemToCombobox('#文化程度', '文化程度', null);
        BindDataDictItemToCombobox('#保险类别', '保险类别', null);

        GenerateInputListByDataDictItem("#住所至康复中心交通是否便利", "住所至康复中心交通是否便利", InputType.Radio);
        GenerateInputListByDataDictItem("#是否参与工作", "是否参与工作", InputType.Radio);
        GenerateInputListByDataDictItem("#吸烟", "吸烟", InputType.Radio);
        GenerateInputListByDataDictItem("#药物不良反应", "药物不良反应", InputType.Radio);
        GenerateInputListByDataDictItem("#目前的疾病", "目前的疾病", InputType.Checkbox);

        $('#出生日期').datebox({ formatter: FormatHelper.FormatHelper });
        $('#入组日期').datebox({ formatter: FormatHelper.FormatHelper });

        $('#Patient_btnCancel')
            .bind('click',
                function() {
                    CloseEditor('#editorPatient');
                }
            );
    });

    function GetData() {
        return {
            编号: $('#编号').textbox('getText'),
            住院号: $('#住院号').textbox('getText'),
            姓名: $('#姓名').textbox('getText'),
            性别: $('#性别').combobox('getText'),
            出生日期: $('#出生日期').datebox('getText'),
            入组日期: $('#入组日期').datebox('getText'),
            民族: $('#民族').combobox('getText'),
            婚姻状况: $('#婚姻状况').combobox('getText'),
            文化程度: $('#文化程度').combobox('getText'),
            职业: $('#职业').textbox('getText'),
            年收入: $('#年收入').textbox('getText'),
            保险类别: $('#保险类别').combobox('getText'),
            联系电话: $('#联系电话').textbox('getText'),
            联系地址: $('#联系地址').textbox('getText')
        };
    }
</script>

@if (Model != null)
{
    <script>
        window.previousId = -1;
        window.nextId = -1;

        $(function() { ShowData(`@Url.Action("GetData", "Patient")/${@ViewBag.CurrentId}`); });

        function ShowData(url) {
            $.ajax({
                type: "POST",
                url: url,
                success: function(data) {
                    const item = data.Item;

                    $('#编号').textbox('setText', item.编号);
                    $('#住院号').textbox('setText', item.住院号);
                    $('#姓名').textbox('setText', item.姓名);
                    $('#性别').combobox('setText', item.性别);
                    $('#出生日期').datebox('setText',FormatHelper.DateBoxFormatter(item.出生日期));
                    $('#入组日期').datebox('setText', FormatHelper.DateBoxFormatter(item.入组日期));
                    console.log(item.出生日期);
                    console.log(item.入组日期);
                    $('#民族').combobox('setText', item.民族);
                    $('#婚姻状况').combobox('setText', item.婚姻状况);
                    $('#文化程度').combobox('setText', item.文化程度);
                    $('#职业').textbox('setText', item.职业);
                    $('#年收入').textbox('setText', item.年收入);
                    $('#保险类别').combobox('setText', item.保险类别);
                    $('#联系电话').textbox('setText', item.联系电话);
                    $('#联系地址').textbox('setText', item.联系地址);

                    window.previousId = data.PreviousId;
                    window.nextId = data.NextId;
                },
                error: function() {
                    Alert("错误", 'error', AlertType.Error);
                },
                dataType: "json"
            });
        };


    </script>
}