@model MVCSchooldbDemo.Models.Data.PatientInfo

<div class="editorTitle">@ViewBag.DialogTitle</div>
<form id="formPatient" method="post" class="easyui-form" data-options="novalidate:true">
    <div id="editorTabs" class="easyui-tabs editorTabs" >
        <div title="个人信息">
            <table id="test1" class="editorTable">
                <tr>
                    <th class="editorNameColumnStandard">
                        编号
                    </th>
                    <td>
                        <input id="编号" class="easyui-textbox" data-options="required:true, missingMessage:'请输入编号'" />
                    </td>
                    <th class="editorNameColumnStandard">
                        住院号
                    </th>
                    <td>
                        <input id="住院号" class="easyui-textbox" data-options="required:true, missingMessage:'请输入住院号'" />
                    </td>
                    <th class="editorNameColumnStandard">
                        姓名
                    </th>
                    <td>
                        <input id="姓名" class="easyui-textbox" data-options="required:true, missingMessage:'请输入姓名'" />
                    </td>
                </tr>
                <tr>
                    <th>
                        性别
                    </th>
                    <td>
                        <select id="性别" class="easyui-combobox editorInputComboBox"></select>
                    </td>
                    <th>
                        出生日期
                    </th>
                    <td>
                        <input id="出生日期" class="easyui-datebox" data-options="required:true, missingMessage:'请输入出生日期', validType:'date'" />
                    </td>
                    <th>
                        入组日期
                    </th>
                    <td>
                        <input id="入组日期" class="easyui-datebox" data-options="required:true, missingMessage:'请输入入组日期'" />
                    </td>
                </tr>
                <tr>
                    <th>
                        民族
                    </th>
                    <td>
                        <select id="民族" class="easyui-combobox editorInputComboBox"></select>
                    </td>
                    <th>
                        婚姻状况
                    </th>
                    <td>
                        <select id="婚姻状况" class="easyui-combobox editorInputComboBox"></select>
                    </td>
                    <th>
                        文化程度
                    </th>
                    <td>
                        <select id="文化程度" class="easyui-combobox editorInputComboBox"></select>
                    </td>
                </tr>
                <tr>
                    <th>
                        职业
                    </th>
                    <td>
                        <select id="职业" class="easyui-combobox editorInputComboBox"></select>
                    </td>

                    <th>
                        年收入
                    </th>
                    <td>
                        <select id="年收入" class="easyui-combobox editorInputComboBox"></select>
                    </td>
                    <th>
                        保险类别
                    </th>
                    <td>
                        <select id="保险类别" class="easyui-combobox editorInputComboBox"></select>
                    </td>
                </tr>
                <tr>
                    <th>
                        联系电话
                    </th>
                    <td>
                        <input id="联系电话" class="easyui-textbox" data-options="required:true, missingMessage:'请输入联系电话'" />
                    </td>
                    <th>
                        联系地址
                    </th>
                    <td colspan="3">
                        <input id="联系地址" class="easyui-textbox" style="width: 100%" data-options="required:true, missingMessage:'请输入联系地址'" />
                    </td>
                </tr>
            </table>
            <table class="editorTable">
                <tr>
                    <th class="editorNameColumnWide">
                        住所至康复中心交通是否便利
                    </th>
                    <td>
                        <span id="住所至康复中心交通是否便利"></span>
                    </td>
                    <th class="editorNameColumnWide">
                        是否参与工作
                    </th>
                    <td colspan="2">
                        <span id="是否参与工作"></span>
                    </td>
                </tr>
                <tr>
                    <th>
                        <b>吸烟</b>
                    </th>
                    <td>
                        <span id="吸烟"></span>
                    </td>
                    <th>
                        药物不良反应
                    </th>
                    <td colspan="2">
                        <span id="药物不良反应"></span>
                    </td>
                </tr>
                <tr>
                    <th>
                        目前的疾病
                    </th>
                    <td colspan="4">
                        <span id="目前的疾病"></span>
                    </td>
                </tr>
            </table>
        </div>
        <div title="危险因素及用药">
            <table class="editorTable">
                <tr>
                    <th rowspan="3" class="editorNameColumnStandard">高血压</th>
                    <th class="editorNameColumnWide">
                        是否有高血压
                    </th>
                    <td>
                        <span id="是否有高血压"></span>
                </tr>
                <tr>
                    <th class="editorNameColumnStandard">
                        控制情况
                    </th>
                    <td>
                        <span id="高血压控制情况"></span>
                    </td>
                </tr>
                <tr>
                    <th class="editorNameColumnStandard">
                        降压药物
                    </th>
                    <td>
                        <span id="降压药物"></span>
                    </td>
                </tr>
                <tr>
                    <th rowspan="3">糖尿病</th>
                    <th>
                        是否有糖尿病
                    </th>
                    <td>
                        <span id="是否有糖尿病"></span>
                    </td>
                </tr>
                <tr>
                    <th>
                        控制情况
                    </th>
                    <td>
                        <span id="糖尿病控制情况"></span>
                    </td>
                </tr>
                <tr>
                    <th>
                        降糖药物
                    </th>
                    <td>
                        <span id="降糖药物"></span>
                    </td>
                </tr>
                <tr>
                    <th rowspan="2">血脂异常</th>
                    <th>
                        是否存在血脂异常
                    </th>
                    <td>
                        <span id="是否存在血脂异常"></span>
                    </td>
                </tr>
                <tr>
                    <th>
                        降脂药物
                    </th>
                    <td>
                        <span id="降脂药物"></span>
                    </td>
                </tr>
                <tr>
                    <th colspan="2">
                        抗血小板及抗凝药物
                    </th>
                    <td>
                        <span id="抗血小板及抗凝药物"></span>
                    </td>
                </tr>
                <tr>
                    <th colspan="2">
                        服药依从性
                    </th>
                    <td>
                        <span id="服药依从性"></span>
                    </td>
                </tr>
            </table>
        </div>
        <div title="体格检查">
            <table class="editorTable">
                <tr>
                    <th>
                        执行时间
                    </th>
                    <td colspan="8">
                        <input id="体格检查执行时间" class="easyui-datetimebox" data-options="required:false, missingMessage:'请输入编号'" />
                    </td>
                </tr>
                <tr>
                    <th rowspan="3">
                        血压（mmHg）
                    </th>
                    <th>
                        收缩压1
                    </th>
                    <td>
                        <input id="收缩压1" class="easyui-textbox" style="width: 80px" data-options="required:false, missingMessage:'请输入收缩压1'" />
                    </td>
                    <th>
                        舒张压1
                    </th>
                    <td>
                        <input id="舒张压1" class="easyui-textbox" style="width: 80px" data-options="required:false, missingMessage:'请输入舒张压1'" />
                    </td>
                    <th>
                        收缩压2
                    </th>
                    <td>
                        <input id="收缩压2" class="easyui-textbox" style="width: 80px" data-options="required:false, missingMessage:'请输入收缩压2'" />
                    </td>
                    <th>
                        舒张压2
                    </th>
                    <td>
                        <input id="舒张压2" class="easyui-textbox" style="width: 80px" data-options="required:false, missingMessage:'请输入舒张压2'" />
                    </td>
                </tr>
                <tr>
                    <th>
                        收缩压3
                    </th>
                    <td>
                        <input id="收缩压3" class="easyui-textbox" style="width: 80px" data-options="required:false, missingMessage:'请输入收缩压3'" />
                    </td>
                    <th>
                        舒张压3
                    </th>
                    <td>
                        <input id="舒张压3" class="easyui-textbox" style="width: 80px" data-options="required:false, missingMessage:'请输入舒张压3'" />
                    </td>
                    <th>
                        平均收缩压
                    </th>
                    <td>
                        <input id="平均收缩压" class="easyui-textbox" style="width: 80px" data-options="required:false, missingMessage:'请输入平均收缩压'" />
                    </td>
                    <th>
                        平均舒张压
                    </th>
                    <td>
                        <input id="平均舒张压" class="easyui-textbox" style="width: 80px" data-options="required:false, missingMessage:'请输入平均舒张压'" />
                    </td>
                </tr>
                <tr>
                    <th>
                        心率（bmp）
                    </th>
                    <td>
                        <input id="心率" class="easyui-textbox" style="width: 80px" data-options="required:false, missingMessage:'心率'" />
                    </td>
                    <th>
                        脉搏（bmp）
                    </th>
                    <td>
                        <input id="脉搏" class="easyui-textbox" style="width: 80px" data-options="required:false, missingMessage:'请输入脉搏'" />
                    </td>
                    <th>
                        血氧饱和度（%）
                    </th>
                    <td>
                        <input id="血氧饱和度" class="easyui-textbox" style="width: 80px" data-options="required:false, missingMessage:'血氧饱和度'" />
                    </td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th rowspan="3">人体测量</th>
                    <th>身高（m）</th>
                    <td>
                        <input id="身高" class="easyui-textbox" style="width: 80px" data-options="required:false, missingMessage:'身高'" />
                    </td>
                    <th>体重（kg）</th>
                    <td>
                        <input id="体重" class="easyui-textbox" style="width: 80px" data-options="required:false, missingMessage:'体重'" />
                    </td>
                    <th>BMI</th>
                    <td>
                        <input id="BMI" class="easyui-textbox" style="width: 80px" data-options="required:false, missingMessage:'BMI'" />
                    </td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th>腰围</th>
                    <td>
                        <input id="腰围" class="easyui-textbox" style="width: 80px" data-options="required:false, missingMessage:'腰围'" />
                    </td>
                    <th>臀围</th>
                    <td>
                        <input id="臀围" class="easyui-textbox" style="width: 80px" data-options="required:false, missingMessage:'臀围'" />
                    </td>
                    <th>腰臀比</th>
                    <td>
                        <input id="腰臀比" class="easyui-textbox" style="width: 80px" data-options="required:false, missingMessage:'腰臀比'" />
                    </td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th colspan="3">握力(优势手 max + 非优势手 max)/2</th>
                    <td>
                        <input id="握力" class="easyui-textbox" style="width: 80px" data-options="required:false, missingMessage:'腰围'" />
                    </td>
                    <th colspan="1">脉搏波传播速度（cm/s）</th>
                    <td>
                        <input id="脉搏波传播速度" class="easyui-textbox" style="width: 80px" data-options="required:false, missingMessage:'腰臀比'" />
                    </td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th rowspan="7">人体分析</th>
                    <th>脂肪重量（kg）</th>
                    <td>
                        <input id="脂肪重量" class="easyui-textbox" style="width: 80px" data-options="required:false, missingMessage:'脂肪重量'" />
                    </td>
                    <th>脂肪占体重比（%）</th>
                    <td>
                        <input id="脂肪占体重比" class="easyui-textbox" style="width: 80px" data-options="required:false, missingMessage:'脂肪占体重比'" />
                    </td>
                    <th>骨质重量（kg）</th>
                    <td>
                        <input id="骨质重量" class="easyui-textbox" style="width: 80px" data-options="required:false, missingMessage:'骨质重量'" />
                    </td>
                    <th>骨质占体重比（%）</th>
                    <td>
                        <input id="骨质占体重比" class="easyui-textbox" style="width: 80px" data-options="required:false, missingMessage:'骨质占体重比'" />
                    </td>

                </tr>
                <tr>
                    <th>蛋白质重量（kg）</th>
                    <td>
                        <input id="蛋白质重量" class="easyui-textbox" style="width: 80px" data-options="required:false, missingMessage:'蛋白质重量'" />
                    </td>
                    <th>蛋白质占体重比（%）</th>
                    <td>
                        <input id="蛋白质占体重比" class="easyui-textbox" style="width: 80px" data-options="required:false, missingMessage:'蛋白质占体重比'" />
                    </td>
                    <th>水分重量（kg）</th>
                    <td>
                        <input id="水分重量" class="easyui-textbox" style="width: 80px" data-options="required:false, missingMessage:'水分重量'" />
                    </td>
                    <th>水分占体重比（%）</th>
                    <td>
                        <input id="水分占体重比" class="easyui-textbox" style="width: 80px" data-options="required:false, missingMessage:'水分占体重比'" />
                    </td>

                </tr>
                <tr>
                    <th>肌肉重量（kg）</th>
                    <td>
                        <input id="肌肉重量" class="easyui-textbox" style="width: 80px" data-options="required:false, missingMessage:'肌肉重量'" />
                    </td>
                    <th>内脏脂肪指数</th>
                    <td>
                        <input id="内脏脂肪指数" class="easyui-textbox" style="width: 80px" data-options="required:false, missingMessage:'内脏脂肪指数'" />
                    </td>
                    <th>基础代谢率</th>
                    <td>
                        <input id="基础代谢率" class="easyui-textbox" style="width: 80px" data-options="required:false, missingMessage:'基础代谢率'" />
                    </td>
                    <th>体脂率</th>
                    <td>
                        <input id="体脂率" class="easyui-textbox" style="width: 80px" data-options="required:false, missingMessage:'体脂率'" />
                    </td>
                </tr>
                <tr>
                    <th>肺部</th>
                    <td colspan="7">
                        <input id="肺部" class="easyui-textbox" style="width: 100%" data-options="required:false, missingMessage:'肺部'" />
                    </td>
                </tr>
                <tr>
                    <th>心脏</th>
                    <td colspan="7">
                        <input id="心脏" class="easyui-textbox" style="width: 100%" data-options="required:false, missingMessage:'请输入心脏'" />
                    </td>
                </tr>
                <tr>
                    <th>神经系统</th>
                    <td colspan="2">
                        <span id="神经系统是否存在影响运动的疾病"></span>
                    </td>
                    <th colspan="2">如有，具体为何种疾病</th>
                    <td colspan="3">
                        <input id="神经系统影响运动的疾病" class="easyui-textbox" style="width: 100%" />
                    </td>
                </tr>
                <tr>
                    <th>运动系统</th>
                    <td colspan="2">
                        <span id="运动系统是否存在影响运动的疾病"></span>
                    </td>
                    <th colspan="2">如有，具体为何种疾病</th>
                    <td colspan="3">
                        <input id="运动系统影响运动的疾病" class="easyui-textbox" style="width: 100%" />
                    </td>
                </tr>

            </table>
        </div>
        <div Title="实验室和影像学检查">
            <table class="editorTable">
                <tr>
                    <th class="editorNameColumnStandard">
                        血常规
                    </th>
                    <th class="editorNameColumnStandard">
                        Hb
                    </th>
                    <td>
                        <input id="Hb" class="easyui-textbox" style="width: 80px" data-options="required:false, missingMessage:'请输入Hb'" />
                    </td>
                    <th class="editorNameColumnStandard">
                        MCV
                    </th>
                    <td>
                        <input id="MCV" class="easyui-textbox" style="width: 80px" data-options="required:false, missingMessage:'请输入MCV'" />
                    </td>
                    <th class="editorNameColumnStandard">
                        MCH
                    </th>
                    <td>
                        <input id="MCH" class="easyui-textbox" style="width: 80px" data-options="required:false, missingMessage:'请输入MCH'" />
                    </td>
                    <th class="editorNameColumnStandard">
                        MCHC
                    </th>
                    <td>
                        <input id="MCHC" class="easyui-textbox" style="width: 80px" data-options="required:false, missingMessage:'请输入MCHC'" />
                    </td>
                </tr>
                <tr>
                    <th rowspan="2">
                        肝功能
                    </th>
                    <th>
                        ALT（Ul/L）
                    </th>
                    <td>
                        <input id="ALT" class="easyui-textbox" style="width: 80px" data-options="required:false, missingMessage:'请输入ALT'" />
                    </td>
                    <th>
                        ASL（Ul/L）
                    </th>
                    <td>
                        <input id="ASL" class="easyui-textbox" style="width: 80px" data-options="required:false, missingMessage:'请输入ASL'" />
                    </td>
                    <th>
                        白蛋白（g/L）
                    </th>
                    <td>
                        <input id="白蛋白" class="easyui-textbox" style="width: 80px" data-options="required:false, missingMessage:'请输入白蛋白'" />
                    </td>
                    <th>
                        r-GT（Ul/L）
                    </th>
                    <td>
                        <input id="r-GT" class="easyui-textbox" style="width: 80px" data-options="required:false, missingMessage:'请输入r-GT'" />
                    </td>
                </tr>
                <tr>
                    <th>
                        总胆红素（umol/L）
                    </th>
                    <td>
                        <input id="总胆红素" class="easyui-textbox" style="width: 80px" data-options="required:false, missingMessage:'请输入总胆红素'" />
                    </td>
                    <th>
                        间接胆红素（umol/L）
                    </th>
                    <td>
                        <input id="间接胆红素" class="easyui-textbox" style="width: 80px" data-options="required:false, missingMessage:'请输入间接胆红素'" />
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th rowspan="2">
                        肾功能
                    </th>
                    <th>
                        肌酐（mmol/L，mg/dL）
                    </th>
                    <td>
                        <input id="肌酐" class="easyui-textbox" style="width: 80px" data-options="required:false, missingMessage:'请输入肌酐'" />
                    </td>
                    <th>
                        尿素氮（mmol/L）
                    </th>
                    <td>
                        <input id="尿素氮" class="easyui-textbox" style="width: 80px" data-options="required:false, missingMessage:'请输入尿素氮'" />
                    </td>
                    <th>
                        尿酸（umol/L）
                    </th>
                    <td>
                        <input id="尿酸" class="easyui-textbox" style="width: 80px" data-options="required:false, missingMessage:'请输入尿酸'" />
                    </td>
                    <th>
                        胱抑素C（mg/L）
                    </th>
                    <td>
                        <input id="胱抑素C" class="easyui-textbox" style="width: 80px" data-options="required:false, missingMessage:'请输入胱抑素C'" />
                    </td>
                </tr>
                <tr>
                    <th>
                        eGFR
                    </th>
                    <td>
                        <input id="eGFR" class="easyui-textbox" style="width: 80px" data-options="required:false, missingMessage:'请输入eGFR'" />
                    </td>
                    <th>
                        CKD分期
                    </th>
                    <td>
                        <input id="CKD分期" class="easyui-textbox" style="width: 80px" data-options="required:false, missingMessage:'请输入CKD分期'" />
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th>
                        血脂（mmol/L，mg/dL）
                    </th>
                    <th>
                        TG
                    </th>
                    <td>
                        <input id="TG" class="easyui-textbox" style="width: 80px" data-options="required:false, missingMessage:'请输入TG'" />
                    </td>
                    <th>
                        TC
                    </th>
                    <td>
                        <input id="TC" class="easyui-textbox" style="width: 80px" data-options="required:false, missingMessage:'请输入TC'" />
                    </td>
                    <th>
                        LDL-C
                    </th>
                    <td>
                        <input id="LDL-C" class="easyui-textbox" style="width: 80px" data-options="required:false, missingMessage:'请输入 LDL-C'" />
                    </td>
                    <th>
                        HDL-C
                    </th>
                    <td>
                        <input id="HDL-C" class="easyui-textbox" style="width: 80px" data-options="required:false, missingMessage:'请输入HDL-C'" />
                    </td>
                </tr>
                <tr>
                    <th>

                    </th>
                    <th>
                        糖化血红蛋白（%）
                    </th>
                    <td>
                        <input id="糖化血红蛋白" class="easyui-textbox" style="width: 80px" data-options="required:false, missingMessage:'请输入糖化血红蛋白'" />
                    </td>
                    <th>
                        同型半胱氨酸hcy（umol/L）
                    </th>
                    <td>
                        <input id="同型半胱氨酸hcy" class="easyui-textbox" style="width: 80px" data-options="required:false, missingMessage:'请输入同型半胱氨酸hcy'" />
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th>
                        心肌损伤性指标
                    </th>
                    <th>
                        cTnl（ug/L）
                    </th>
                    <td>
                        <input id="cTnl" class="easyui-textbox" style="width: 80px" data-options="required:false, missingMessage:'请输入cTnl'" />
                    </td>
                    <th>
                        心肌酶谱 Ul/L CK
                    </th>
                    <td>
                        <input id="CK" class="easyui-textbox" style="width: 80px" data-options="required:false, missingMessage:'请输入CK'" />
                    </td>
                    <th>
                        CKMB
                    </th>
                    <td>
                        <input id="CKMB" class="easyui-textbox" style="width: 80px" data-options="required:false, missingMessage:'请输入 CKMB'" />
                    </td>
                    <th>
                        LDH
                    </th>
                    <td>
                        <input id="LDH" class="easyui-textbox" style="width: 80px" data-options="required:false, missingMessage:'请输入 LDH'" />
                    </td>
                </tr>
                <tr>
                    <th rowspan="3">
                        心脏彩超
                    </th>
                    <th>
                        LA（mm）
                    </th>
                    <td>
                        <input id="LA" class="easyui-textbox" style="width: 80px" data-options="required:false, missingMessage:'请输入LA'" />
                    </td>
                    <th>
                        LV（mm）
                    </th>
                    <td>
                        <input id="LV" class="easyui-textbox" style="width: 80px" data-options="required:false, missingMessage:'请输入LV'" />
                    </td>
                    <th>
                        RA（mm）
                    </th>
                    <td>
                        <input id="RA" class="easyui-textbox" style="width: 80px" data-options="required:false, missingMessage:'请输入RA'" />
                    </td>
                    <th>
                        RV（mm）
                    </th>
                    <td>
                        <input id="RV" class="easyui-textbox" style="width: 80px" data-options="required:false, missingMessage:'请输入RV'" />
                    </td>
                </tr>
                <tr>
                    <th>
                        LVPW（mm）
                    </th>
                    <td>
                        <input id="LVPW" class="easyui-textbox" style="width: 80px" data-options="required:false, missingMessage:'请输入LVPW'" />
                    </td>
                    <th>
                        IVST（mm）
                    </th>
                    <td>
                        <input id="IVST" class="easyui-textbox" style="width: 80px" data-options="required:false, missingMessage:'请输入IVST'" />
                    <th>
                        LVEF（%）
                    </th>
                    <td>
                        <input id="LVEF" class="easyui-textbox" style="width: 80px" data-options="required:false, missingMessage:'请输入LVEF'" />
                    </td>
                    <th>
                        E/A
                    </th>
                    <td>
                        <input id="EA" class="easyui-textbox" style="width: 80px" data-options="required:false, missingMessage:'请输入IVST'" />
                    </td>
                </tr>
                <tr>
                    <th>
                        减速时间（ms）
                    </th>
                    <td>
                        <input id="减速时间" class="easyui-textbox" style="width: 80px" data-options="required:false, missingMessage:'请输入LVPW'" />
                    </td>
                    <th>
                        等容扩张期（ms）
                    </th>
                    <td>
                        <input id="等容扩张期" class="easyui-textbox" style="width: 80px" data-options="required:false, missingMessage:'请输入等容扩张期'" />
                    <th>
                        左心室舒张末期压力LVEDP（mmHg）
                    </th>
                    <td>
                        <input id="左心室舒张末期压力LVEDP" class="easyui-textbox" style="width: 80px" data-options="required:false, missingMessage:'请输入左心室舒张末期压力LVEDP'" />
                    </td>
                    <th>
                    </th>
                    <td></td>
                </tr>
            </table>
        </div>
    </div>
</form>
<script>
    $(function() {
        BindDataDictItemToCombobox('性别');
        BindDataDictItemToCombobox('婚姻状况');
        BindDataDictItemToCombobox('职业');
        BindDataDictItemToCombobox('年收入');
        BindDataDictItemToCombobox('文化程度');
        BindDataDictItemToCombobox('保险类别');
        BindDataDictItemToCombobox('民族');

        GenerateInputListByDataDictItem("住所至康复中心交通是否便利", InputType.Radio, Direction.Horizontal);
        GenerateInputListByDataDictItem("是否参与工作", InputType.Radio, Direction.Horizontal);
        GenerateInputListByDataDictItem("吸烟", InputType.Radio, Direction.Horizontal);
        GenerateInputListByDataDictItem("药物不良反应", InputType.Radio, Direction.Horizontal);
        GenerateInputListByDataDictItem("目前的疾病", InputType.Checkbox, Direction.Horizontal);
        GenerateInputListByDataDictItem("是否有高血压", InputType.Radio, Direction.Horizontal);
        GenerateInputListByDataDictItem("高血压控制情况", InputType.Radio, Direction.Horizontal);
        GenerateInputListByDataDictItem("降压药物", InputType.Checkbox, Direction.Horizontal);
        GenerateInputListByDataDictItem("是否有糖尿病", InputType.Radio, Direction.Horizontal);
        GenerateInputListByDataDictItem("糖尿病控制情况", InputType.Radio, Direction.Horizontal);
        GenerateInputListByDataDictItem("降糖药物", InputType.Checkbox, Direction.Horizontal);
        GenerateInputListByDataDictItem("是否存在血脂异常", InputType.Radio, Direction.Horizontal);
        GenerateInputListByDataDictItem("降脂药物", InputType.Checkbox, Direction.Horizontal);
        GenerateInputListByDataDictItem("抗血小板及抗凝药物", InputType.Radio, Direction.Horizontal);
        GenerateInputListByDataDictItem("服药依从性", InputType.Checkbox, Direction.Horizontal);
        GenerateInputListByDataDictItem("神经系统是否存在影响运动的疾病", InputType.Radio, Direction.Horizontal);
        GenerateInputListByDataDictItem("运动系统是否存在影响运动的疾病", InputType.Radio, Direction.Horizontal);

        $('#出生日期').datebox({ formatter: FormatHelper.FormatHelper });
        $('#入组日期').datebox({ formatter: FormatHelper.FormatHelper });

        $('#编号');
        $('#Patient_btnCancel')
            .bind('click',
                function() {
                    CloseEditor('#editorPatient');
                }
            );
    });

    function GetData() {
        return {
            编号: $('#编号').textbox('getText'),
            住院号: $('#住院号').textbox('getText'),
            姓名: $('#姓名').textbox('getText'),
            性别: $('#性别').combobox('getText'),
            出生日期: $('#出生日期').datebox('getText'),
            入组日期: $('#入组日期').datebox('getText'),
            民族: $('#民族').combobox('getText'),
            婚姻状况: $('#婚姻状况').combobox('getText'),
            文化程度: $('#文化程度').combobox('getText'),
            职业: $('#职业').textbox('getText'),
            年收入: $('#年收入').textbox('getText'),
            保险类别: $('#保险类别').combobox('getText'),
            联系电话: $('#联系电话').textbox('getText'),
            联系地址: $('#联系地址').textbox('getText')
        };
    }
</script>

@if (Model != null)
{
    <script>
    window.previousId = -1;
    window.nextId = -1;

    $(function() { ShowData(`@Url.Action("GetData", "Patient")/${@ViewBag.CurrentId}`); });

    function ShowData(url) {
        $.ajax({
            type: "POST",
            url: url,
            success: function(data) {
                const item = data.Item;

                $('#编号').textbox('setText', item.编号);
                $('#住院号').textbox('setText', item.住院号);
                $('#姓名').textbox('setText', item.姓名);
                $('#性别').combobox('setText', item.性别);
                $('#出生日期').datebox('setText', FormatHelper.DateBoxFormatter(item.出生日期));
                $('#入组日期').datebox('setText', FormatHelper.DateBoxFormatter(item.入组日期));
                $('#民族').combobox('setText', item.民族);
                $('#婚姻状况').combobox('setText', item.婚姻状况);
                $('#文化程度').combobox('setText', item.文化程度);
                $('#职业').textbox('setText', item.职业);
                $('#年收入').textbox('setText', item.年收入);
                $('#保险类别').combobox('setText', item.保险类别);
                $('#联系电话').textbox('setText', item.联系电话);
                $('#联系地址').textbox('setText', item.联系地址);

                console.log(item);

                window.previousId = data.PreviousId;
                window.nextId = data.NextId;
            },
            error: function() {
                Alert("错误", 'error', AlertType.Error);
            },
            dataType: "json"
        });
    };


    </script>
}