@model MVCSchooldbDemo.Models.Data.PatientInfo
@{
    Layout = null;
}
<div class="editorLayout">
    @Html.Partial("~/Views/Patient/_Editor.cshtml")
    @Html.Partial("~/Views/Shared/LayoutEditor/_ButtonsForEdit.cshtml")
</div>
<script>
    $(function() {
        $('#Patient_btnOK')
            .bind('click',
                function() {
                    EditorSubmit('#formPatient','#gridPatient','#editorPatient','@Url.Action("Edit", "Patient")', window.GetData(), "确认修改记录吗？", '修改记录出现错误');;
                });
    });
</script>
